{% load humanize %}

{% if stv.comments.last.comment %}
<div class="ui form">
    <div class="field" style="margin-bottom: 5px;">
        <textarea rows="8" readonly style="resize: none;" placeholder="">{{stv.comments.last.comment}}</textarea>
        <div id="comment-history" class="ui circular icon button" data-tooltip="View history"
            data-position="bottom right">
            <i class="history icon"></i>
        </div>
    </div>
    <!-- <span style="font-size:smaller;">Last modified by: JHDL {{stv.comments.last.date_modified|naturaltime}}</span> -->


    <span style="font-size:smaller;">Last modified
        {{stv.comments.last.get_last_modified.comment.datetime|naturaltime}} by
        {{stv.comments.last.get_last_modified.comment.user.get_full_name}}
    </span>
</div>
{% else %}
<span style="font-size:smaller;">No comment added yet</span>
{% endif %}

<div id="comment-history-container" style="display: none;">
    <div class="ui segments" style="display: flex;min-width: 70%;max-width: 75%;max-height: 90%;">
        <div class="ui left aligned clearing segment">
            <h3 class="ui header" style="margin:0">Comment History</h3>
        </div>

        <div class="ui center aligned segment previous-comments-container">

            <div class="ui grey circular label">
                Current Version
            </div>

            {% for event in stv.comments.last.get_comment_history %}

            <div class="ui raised segment previous-comment">
                <div class="ui attached segment inner__left">
                    <div class="fake-textarea" contenteditable="true" oncut="return false" onpaste="return false"
                        onkeydown="if(event.metaKey) return true; return false;"
                        data-value-previous="{% if event.type == 'create' %}{{event.value}}{%else%}{{event.value_previous}}{%endif%}">
                        {{event.value}}
                    </div>

                </div>
                <div class="ui attached secondary segment inner__right">
                    <div class="ui segment" style="padding-top: 45px;">
                        <div class="ui top attached label">{% if event.type == 'create' %}Created {%else%}Modified
                            {%endif%}by:</div>
                        <span>{{event.user.get_full_name}}</span>
                    </div>
                    <div class="ui segment" style="padding-top: 45px;margin-top: 0;">
                        <div class="ui top attached label">Date:</div>
                        {{event.datetime|naturaltime}}
                    </div>
                </div>
            </div>

            {% if not forloop.last %}
            <div class="ui grey circular icon label">
                <i class="angle up icon"></i>
            </div>
            {%else%}
            <div class="ui grey circular label">
                Comment Created
            </div>
            {%endif%}

            {% endfor %}

        </div>

        <div class="ui secondary left aligned clearing segment">
            <div class="ui right floated button filter-settings-close">Close</div>
        </div>

    </div>
</div>