{% load humanize %}
{% if documents %}
<div class="ui three horizontal link cards">

    {% for doc in documents %}

    {% if doc.extension == '.pdf' %}

    <div class="card PdfCard" data-file="{{ doc.document.url }}">
        <div class="image"
            style="flex: 1;display: flex;align-items: center;justify-content: center;min-height: 5cm;max-width: 25%;">
            <i class="huge file pdf outline icon"></i>
        </div>

        {% else %}

        <div class="card PhotoCard" data-file="{{ doc.document.url }}">

            <div class="image"
                style="flex: 1;display: flex;align-items: center;justify-content: center;min-height: 5cm;max-width: 25%;">
                <img src="{{ doc.document.url }}"
                    style="height: auto;width: auto;max-width:100%;max-height:150px;border-radius: 15px;padding: 10px;">
            </div>

            {% endif %}

            <div class="content" style="overflow: auto;max-height: 5cm;">
                <div class="header">
                    <h4>{{ doc.filename }}</h4>
                </div>

                <div class="ui right corner label prevent-evidence-display archive-evidence"
                    data-url="{% url 'archive_evidence' document=doc.id%}">
                    <i class="trash icon prevent-evidence-display"></i>
                </div>

                <div class="meta">
                    Click to view
                </div>
                <div class="description">
                    {% if doc.description%}
                    {{ doc.description }}
                    {% else %}
                    No description provided
                    {% endif %}
                </div>
            </div>
            <div class="extra content" style="display: flex;align-items: center;flex-shrink: 0;">

                <span style="display: flex;align-items: center;flex: 1;word-wrap: break-word;margin-right: auto;">
                    <i style="margin-top: -3px;margin-right: 7px;" class="user icon"></i>
                    {{doc.get_user_created.first_name}} {{doc.get_user_created.last_name}}
                </span>
                <span style="margin-left: 10px;">
                    {{doc.date_modified|naturaltime}}
                </span>
            </div>
        </div>

        {% endfor %}
    </div>

    {% endif %}


    <div style="display: flex;align-items: center;">
        {% if not documents %}
        <span style="font-size:smaller;">No evidence files uploaded yet</span>
        {% endif %}
        {% if archived_documents %}
        <a id="show-archived-evidence" href="#" style="font-size: smaller;margin-left: auto;">Archived documents</a>
        <!-- <div class="ui circular icon button" style="margin-left: auto;">
            <i class="history icon"></i>
        </div> -->
        {% endif %}
    </div>

    <div id="archived-evidence" style="display: none;">
        <div class="ui segment">
            {% for document in archived_documents %}

            <span>{{document.filename}}</span>

            {% endfor %}
        </div>


    </div>


    <div class="evidence-container">
        <div class="ui inverted raised tertiary segment image-hover-container"
            style="margin: 0;display: flex;flex-direction: column;padding: 0;width: 80%;height: 80%;">
            <div class="ui top attached fluid compact button evidence-container-close-icon"
                style="text-align: right;position: relative;z-index: 1000;">
                <i class="big times icon" style="margin: 0;"></i>
            </div>

            <div id="main-sub-container" class="sub-container"
                style="display: flex;flex: 1;align-items: center;justify-content: center;max-height: calc(100% -  44.5px);">
            </div>

            <div class="ui raised segment image-buttons"
                style="display: flex;flex-direction: row;position: absolute;z-index: 1000;margin: 30px;align-items: center;justify-content: center;bottom:0;align-self: center;gap: 7px;">
                <div class="ui icon buttons">
                    <button class="ui button zoom-in">
                        <i class="search plus icon"></i>
                    </button>
                    <button class="ui button zoom-out">
                        <i class="search minus icon"></i>
                    </button>
                </div>
                <button class="ui icon button reset">
                    <i class="undo icon"></i>
                </button>
            </div>
        </div>
    </div>



    <script>
        $('.evidence-container').hide()

        $('.card').click(function () {
            if ($(event.target).hasClass("prevent-evidence-display")) {
                null
            } else {
                var data = $(this).attr('data-file');
                if ($(this).hasClass('PhotoCard')) {
                    $('.evidence-container .sub-container').html('<img class="lightbox-img" src="' + data + '"/>');
                    $('.image-buttons').show()
                    $('#lightbox').html($('.evidence-container').html());

                    const elem = $('#lightbox .sub-container').get(0)
                    const parent = $('#lightbox .sub-container').parent().get(0)
                    const rangeZoom = $('#lightbox #rangeZoom').get(0)
                    const panzoom = Panzoom(elem)
                    $(".zoom-in").click(panzoom.zoomIn)
                    $(".zoom-out").click(panzoom.zoomOut)
                    $(".reset").click(panzoom.reset)
                    // parent.addEventListener('wheel', panzoom.zoomWithWheel)
                    // rangeZoom.addEventListener('input', (event) => {
                    //     panzoom.zoom(event.target.valueAsNumber)
                    // })

                } else if ($(this).hasClass('PdfCard')) {
                    $('.evidence-container .sub-container').html('<object class="lightbox-pdf previous" data="' + data + '" type="application/pdf"><p>PDF cannot be displayed.</p></object>');
                    $('.image-buttons').hide()
                    $('#lightbox').html($('.evidence-container').html());
                }


                $('#lightbox').dimmer({
                    closable: false
                }).dimmer('show');

            }

        })

        $("#lightbox").on("click", ".evidence-container-close-icon", function () {
            $('#lightbox').dimmer({
                closable: false
            }).dimmer('hide');
        })

        // Code to view existing files in lightbox
        $('#show-archived-evidence').click(function () {

            $('#lightbox').html($("#archived-evidence").html());

            $('#lightbox').dimmer({
                closable: true
            }).dimmer('show');

        })
    </script>