{% load humanize %}

<div class="ui three horizontal link cards">

    {% for doc in documents %}

    {% if doc.extension == '.pdf' %}

    <div class="card PdfCard" data-file="{{ doc.document.url }}">
        <div class="image"
            style="flex: 1;display: flex;align-items: center;justify-content: center;min-height: 5cm;max-width: 25%;">
            <i class="huge file pdf outline icon"></i>
        </div>

        {% else %}

        <div class="card PhotoCard" data-file="{{ doc.document.url }}">

            <div class="image"
                style="flex: 1;display: flex;align-items: center;justify-content: center;min-height: 5cm;max-width: 25%;">
                <img src="{{ doc.document.url }}"
                    style="height: auto;width: auto;max-width:100%;max-height:150px;border-radius: 15px;padding: 10px;">
            </div>

            {% endif %}

            <div class="content" style="overflow: auto;max-height: 5cm;">
                <div class="header">
                    <h4>{{ doc.filename }}</h4>
                </div>
                <div class="meta">
                    Click to view
                </div>
                <div class="description">
                    {% if doc.description%}
                    {{ doc.description }}
                    {% else %}
                    No description provided
                    {% endif %}
                </div>
            </div>
            <div class="extra content" style="display: flex;align-items: center;flex-shrink: 0;">

                <span style="display: flex;align-items: center;flex: 1;word-wrap: break-word;margin-right: auto;">
                    <i style="margin-top: -3px;margin-right: 7px;" class="user icon"></i>
                    {{doc.get_user_created.first_name}} {{doc.get_user_created.last_name}}
                </span>
                <span style="margin-left: 10px;">
                    {{doc.date_created|naturaltime}}
                </span>
            </div>
        </div>

        {% endfor %}

    </div>

    <script>
        // Code to view existing files in lightbox
        $('.PhotoCard').click(function () {
            var image = $(this).attr('data-file');


            $('#lightbox').html('<i class="big inverted times icon close-icon"></i> <img class="lightbox-img" src="' + image + '"/>');

            $('#lightbox').dimmer({
                closable: true
            }).dimmer('show');
        })

        // Code to view existing files in lightbox
        $('.PdfCard').click(function () {
            var pdf = $(this).attr('data-file');

            $('#lightbox').html('<i class="big inverted times icon close-icon"></i> <object class="lightbox-pdf" data="' + pdf + '" type="application/pdf"><iframe src="https://docs.google.com/viewer?url=' + pdf + '&embedded=true"></iframe></object>');

            $('#lightbox').dimmer({
                closable: true
            }).dimmer('show');
        })
    </script>