{% load add_class %}
{% load get_display_choice %}

<style>
    .modal-container {
        display: flex;
        width: 25cm;
        max-height: 15cm;
        margin: 0 !important;
    }

    @media (max-width: 35cm) {
        .modal-container {
            width: 75%
        }
    }

    @media (max-height: 20cm) {
        .modal-container {
            max-height: calc(80vh - 125.7656px)
        }
    }
</style>

<div class="ui segments modal-container">
    <div class="ui left aligned clearing segment">
        <h3 class="ui header" style="margin:0">Modify Filters</h3>
    </div>

    <div class="ui left aligned segment">
        <div id='status-message' class="ui message">
            {% if filter_instance %}
            {% if filter_instance == filters.blank_filter %}

            <b>Disable all filters</b>

            {% elif filter_instance == filters.pipeline_default_filter %}

            <b>The default filtering preset for the {{run.pipeline_version.pipeline}} pipeline is selected.</b>
            <span>Note: default filter items cannot be modified.</span>

            {% else %}

            <b>The custom filtering preset '{{filter_instance.name}}' is selected.</b>
            <span>Note: custom filter items can be modified.</span>

            {% endif %}

            {%else%}

            <b>Please define a custom set of filtering parameters.</b>

            {%endif%}
        </div>
    </div>

    <div class="ui left aligned segment"
        style="display: flex;flex-direction: row;;overflow: hidden;padding: 0;min-height: calc(40vh - 125.7656px);">

        <!-- Load readonly version of form if filter_instance is a default -->
        {% if filter_instance == filters.pipeline_default_filter and filter_instance != None or filter_instance == filters.blank_filter %}

        <div id='filter-instance-container'
            style="display: flex;flex: 1;flex-direction: column;margin-right: auto;overflow-y: auto;padding: 14px;">

            <form class="ui form" id="js-modify-filter-form" method="post"
                action="{% if filter_instance.id %}{% url 'modify_filters' ss_sample=ss_sample.id run=run.id filter=filter_instance.id %}{%else%}{% url 'modify_filters' ss_sample=ss_sample.id run=run.id filter='None' %}{%endif%}">

                {% csrf_token %}
                {{form.non_field_errors}}
                {{form.errors}}
                <div class="ui fields" style="display: flex;align-items: flex-start;justify-content: space-between;">
                    <div class="field" style="flex: 0 0 30%;">
                        <label for="id_genekey">Name:</label>
                        <div class="ui input">
                            {{form.name|add_class:'hidden'}}
                            <input readonly type="text"
                                value="{% if filter_instance != filters.blank_filter %}{{form.name.value}}{%endif%}"
                                placeholder="">
                        </div>
                    </div>

                    <div class="field" style="flex: 1;">
                        <label for="id_genekey">Description:</label>
                        <div class="ui input">
                            {{form.description|add_class:'hidden'}}
                            <textarea readonly rows=4 type="text"
                                placeholder="{% if filter_instance != filters.blank_filter %}No description available{%endif%}"
                                style="resize: none;">{% if filter_instance != filters.blank_filter %}{{form.description.value}}{%endif%}</textarea>
                        </div>
                    </div>
                </div>

                <span style="font-size: 13px;font-weight: 700;">Filters:</span>

                {{ formset.management_form }}
                <div id="form-set" class="ui top attached raised tertiary segment"
                    style="display: flex;gap: 15px;flex-direction: column;margin-top: 4px;padding: 10px;">

                    <div class="title-row"
                        style="display: flex; flex-direction: row;align-items: center;justify-content: space-between;flex-wrap: wrap; ">

                        <span style="width: 196px;">Field:</span>
                        <span style="width:196px">Filter type:</span>
                        <span style="width: 177px;">Value:</span>
                        <span style="width: 38.5156px;"></span>
                    </div>

                    {% for form in formset.forms %}
                    {{form.non_field_errors}}
                    <!-- {{form.errors}} -->
                    <div class="ui form form-row"
                        style="display: flex; flex-direction: row;align-items: center;justify-content: space-between; flex-wrap: wrap;">
                        {{ form.id|add_class:'hidden' }}
                        {{ form.field|add_class:'hidden'}}
                        <div class="ui input" style="width: 196px;">
                            <input readonly type="text" value="{{form.field.value}}">
                        </div>
                        {{ form.filter_type|add_class:'hidden'}}
                        <div class="ui input" style="width:196px">
                            <input readonly type="text"
                                value="{{form.filter_type.field.choices|get_display_choice:form.filter_type.value}}">
                        </div>
                        {{ form.value|add_class:'hidden'}}
                        <div class="ui input" style="width: 177px;">
                            <input readonly type="text" value="{{form.value.value}}">
                        </div>

                        {{ form.DELETE|add_class:"hidden" }}
                        <div class="ui disabled negative icon button remove-formset-button">
                            <i class="trash icon"></i>
                        </div>
                    </div>
                    {% endfor %}

                    <div id="match-field" style="display: flex;justify-content: flex-end;">
                        {{form.match|add_class:"hidden"}}
                        <div class="ui mini input" style="width: 180px;">
                            <input readonly type="text"
                                value="{{form.match.field.choices|get_display_choice:form.match.value}}">
                        </div>
                    </div>
                </div>

                <div class="ui bottom attached raised segment add-container" style="padding: 10px;">
                    <div class='ui disabled fluid button' value="Add More" id="add_more"><i class="plus icon"></i></div>
                </div>
            </form>
        </div>

        {% else %}
        <!-- Load Normal Form -->
        <div id='filter-instance-container'
            style="display: flex;flex: 1;flex-direction: column;margin-right: auto;overflow-y: auto;padding: 14px;">

            {% if invalid_filters %}
            <div class="ui error message" style="min-height: fit-content;">The provided filters did not apply
                successfully. Please review the expected
                format of fields being filtered and try again.</div>
            {%endif%}

            <form class="ui form" id="js-modify-filter-form" method="post"
                action="{% if filter_instance.id %}{% url 'modify_filters' ss_sample=ss_sample.id run=run.id filter=filter_instance.id %}{%else%}{% url 'modify_filters' ss_sample=ss_sample.id run=run.id filter='None' %}{%endif%}">
                {% csrf_token %}
                {{form.non_field_errors}}
                {{form.errors}}
                <div class="ui fields" style="display: flex;align-items: flex-start;justify-content: space-between;">

                    <div class="field" style="flex: 0 0 30%;">
                        <label for="id_genekey">Name:</label>
                        <div class="ui input">
                            {{form.name}}
                        </div>

                    </div>


                    <div class="field text-area-field" style="flex: 1;">
                        <label for="id_genekey">Description:</label>
                        <div class="ui input">
                            {{form.description}}
                        </div>
                    </div>
                </div>

                <div style="font-size: 13px;font-weight: 700;margin-bottom: 4px;">Filters:</div>

                {{ formset.management_form }}
                <div id="form-set" class="ui top attached raised tertiary segment"
                    style="display: flex;gap: 15px;flex-direction: column;margin-top: 0px;padding: 10px;">

                    <div class="title-row"
                        style="display: flex; flex-direction: row;align-items: center;justify-content: space-between;flex-wrap: wrap; ">

                        <span style="width: 196px;">Field:</span>
                        <span style="width:196px">Filter type:</span>
                        <span style="width: 177px;">Value:</span>
                        <span style="width: 38.5156px;"></span>
                    </div>

                    {% for form in formset.forms %}
                    {{form.non_field_errors}}
                    <!-- {{form.errors}} -->
                    <div class="ui form form-row"
                        style="display: flex; flex-direction: row;align-items: center;justify-content: space-between; flex-wrap: wrap;">
                        {{ form.id }}
                        {{ form.field}}
                        {{ form.filter_type}}
                        <div class="ui input {% if form.value.errors %}error{%endif%}">
                            {{ form.value}}
                        </div>

                        {{ form.DELETE|add_class:"hidden" }}
                        <div class="ui negative icon button remove-formset-button">
                            <i class="trash icon"></i>
                        </div>
                    </div>
                    {% endfor %}

                    <div id="match-field" class="hidden" style="display: flex;justify-content: flex-end;">
                        {{form.match}}
                    </div>

                </div>

                <div class="ui bottom attached raised segment add-container" style="padding: 10px;margin-top: 0px;">
                    <div class='ui fluid button' value="Add More" id="add_more"><i class="plus icon"></i></div>
                </div>

                <div id="empty-form" style="display:none">
                    <div class="form-row"
                        style="display: flex; flex-direction: row;align-items: center;justify-content: space-between; flex-wrap: wrap;">
                        {{ formset.empty_form.id }}
                        {{ formset.empty_form.field }}
                        {{ formset.empty_form.filter_type }}
                        <div class="ui input">
                            {{ formset.empty_form.value }}
                        </div>
                        {{ formset.empty_form.DELETE|add_class:"hidden" }}
                        <div class="ui negative icon button remove-formset-button">
                            <i class="trash icon"></i>
                        </div>
                    </div>
                </div>




            </form>
        </div>
        {%endif%}

        <div class="ui attached segment"
            style="flex-direction: column;flex: 0 1 22%;padding: 0;height: 100%;margin: 0;border-top: none;border-bottom: none;overflow-y: auto;overflow-x: hidden;min-height: 285px;">

            <div class="ui vertical attached menu" style="display: flex;border: none;width: 100%;height: 100%;">

                <div class="ui attached segment"
                    style="padding-top: 9px;padding-bottom: 9px; padding-left: 12px;padding-right: 12px ;font-size: 12px; font-weight: 700; line-height: 12px;border-left: none;border-right: none;border-top: none; color: rgba(0,0,0,.6); background-color: #e8e8e8;">
                    <i class="redo icon" style="margin-right: 9px;width: 9px;"></i>
                    PIPELINE DEFAULT
                </div>

                {% if filters.pipeline_default_filter %}

                <a class="item  {% if  filters.pipeline_default_filter == filters.active_filter %}active blue{% endif %} filter-preset-item option"
                    data-url="{% url 'modify_filters' ss_sample=ss_sample.id run=run.id filter=filters.pipeline_default_filter.id %}">
                    {{filters.pipeline_default_filter.name}}
                    <i
                        class="{% if  filters.pipeline_default_filter == filters.active_filter %}check{%else%}outline{% endif %} circle icon"></i>
                </a>

                {%else%}

                <div style="margin-top:13px;margin-bottom: 13px;">
                    <span style="margin-left: 16px;">None</span>
                </div>

                {%endif%}

                <div class="ui attached segment"
                    style="padding-top: 9px;padding-bottom: 9px; padding-left: 12px;padding-right: 12px ;font-size: 12px; font-weight: 700; line-height: 12px;border-left: none;border-right: none;color: rgba(0,0,0,.6); background-color: #e8e8e8;">
                    <i class="pen icon" style="margin-right: 9px;width: 9px;"></i>
                    YOUR CUSTOM FILTERS
                </div>

                {% for filter in filters.user_filters %}

                <a class="item  {% if filters.active_filter == filter %}active blue{% endif %} filter-preset-item option"
                    data-url="{% url 'modify_filters' ss_sample=ss_sample.id run=run.id filter=filter.id %}">
                    {{filter.name}}
                    <i class="{% if filters.active_filter == filter %}check{%else%}outline{% endif %} circle icon"></i>
                </a>

                {% endfor %}

                <a class="item {% if filters.active_filter == None %}active blue{% endif %} filter-preset-item "
                    data-url="{% url 'modify_filters' ss_sample=ss_sample.id run=run.id filter='None' %}">
                    Create custom filter
                    <i class="plus icon"></i>
                </a>

                <!-- <div class="ui attached segment"
                    style="padding-top: 9px;padding-bottom: 9px; padding-left: 12px;padding-right: 12px ;font-size: 12px; font-weight: 700; line-height: 12px;border-left: none;border-right: none; color: rgba(0,0,0,.6); background-color: #e8e8e8;">
                    <i class="user icon" style="margin-right: 9px;width: 9px;"></i>
                    OTHER USER FILTERS
                </div>

                {% if filters.other_user_filters %}

                {% for user_filter in filters.other_user_filters %}

                <a class="item  {% if filters.active_filter == user_filter.filter %}active blue{% endif %} filter-preset-item"
                    data-url="{% url 'modify_filters' ss_sample=ss_sample.id run=run.id filter=user_filter.filter.id %}"
                    style="display: flex;align-items: center;">
                    <div style="display: flex;flex-direction: column">
                        {{user_filter.filter.name}}
                        <span style="font-size: smaller;margin-top: 2px;opacity: 70%">User:
                            {{user_filter.user.first_name}} {{user_filter.user.last_name}}</span>
                    </div>

                    <i style="margin-left: auto;"
                        class="{% if filters.active_filter == user_filter.filter %}check{% endif %} circle outline icon"></i>
                </a>

                {% endfor %}

                {%else%}

                <div style="margin-top:13px;margin-bottom: 13px;">
                    <span style="margin-left: 16px">None</span>
                </div>

                {%endif%} -->

                {% if filters.user_filters or filters.pipeline_default_filter %}
                <a class="item {% if filters.active_filter == filters.blank_filter %}active blue{% endif %} filter-preset-item "
                    style="margin-top: auto;"
                    data-url="{% url 'modify_filters' ss_sample=ss_sample.id run=run.id filter=filters.blank_filter.id %}">
                    Disable all filters
                    <i class="trash icon"></i>
                </a>
                {%endif%}
            </div>
        </div>
    </div>

    <div class="ui secondary left aligned clearing segment">
        <input type="submit" form="js-modify-filter-form"
            class="ui right floated primary button js-modify-filter-form-submit" data-stv='' style="margin-left: 10px;"
            value="Apply">
        <div class="ui right floated button filter-settings-close">Cancel</div>
    </div>

</div>