<div id="variant-menu-topper">
    <button id="menu-toggle-open" class="active circular ui icon button" data-tooltip="Collapse Menu"
        data-position="bottom left">
        <i class="icon bars"></i>
    </button>

    <div class="ui small icon input" style="width:100%;margin-left: 10px;margin-right: 5px;">
        <input type="search" placeholder="Search variants..." id="variant-search">
        <i class="search icon"></i>
    </div>
</div>

<!-- Pinned Variants -->
<div id="pinned-container">
    {% if variants.pinned or variants.excluded_pinned_variants_count %}
    <div class="ui attached segment variant-sub-menu-header pinned">
        <i class="pin icon"></i>
        PINNED
    </div>
    {%endif%}
</div>

<div id='pinned-list' class="ui attached segment"
    style="display: flex;flex-direction: column;flex-shrink: 1;padding: 0;border-top: none;overflow-y: auto;overflow-x: hidden;max-height: 30%;">

    {%if variants.excluded_pinned_variants_count %}
    <div style="padding-top: 15px;padding-bottom: 15px;">
        <span style="margin-left: 10px;">{{variants.excluded_pinned_variants_count}} pinned variant(s) excluded by
            current
            filters</span>
    </div>
    {% endif %}

    <!-- Group list of variants by their transcript/gene -->
    {% regroup variants.pinned by transcript as variant_list %}

    {% for transcript in variant_list %}

    <div class="gene">
        <div class="title">
            <b>{{transcript.grouper.gene.hgnc_name}}</b>

            <div class="pinned-transcript-popup" data-position="right center"
                data-html="<span>{% if transcript.grouper.canonical %}Canonical{% else %}Non-canonical{% endif %} transcript</span>{% if not transcript.list.0.selected %}<br><span class='ui red text' style='font-size:smaller;'>Warning: Pinned variant/s in transcript that is not currently selected for this sample.</span>{%endif%}">
                <div
                    class="ui horizontal right icon {% if not transcript.list.0.selected %}red{% elif transcript.grouper.canonical %}grey{%else%}orange{% endif %} label disabled ">
                    {{transcript.grouper.refseq_id}}
                    <i class="lock icon"></i>
                </div>
            </div>
        </div>

        {% for stv in transcript.list %}

        <a class="item mini-tabs-link" data-url="{% url 'load_variant_details' run=run.id stv=stv.id %}"
            data-id="{{stv.id}}" data-chr="{{stv.sample_variant.variant.chrom}}"
            data-location="{{stv.sample_variant.variant.pos}}" {% if forloop.last %}
            style="border-bottom:0.5px solid #E8E9E9;" {%endif%}>

            <div class="variant-attribute-container">
                <i class="classification-indicator grey outline circle icon"
                    style="margin: 0;margin-top: 1px;align-self: center;"></i>

                <!-- <div class="variant-attribute">
                    <span style="font-weight: bold;color: black;">Exonic SNV</span>
                    <span
                        style="font-weight: lighter;font-style: italic;font-size: small;color: #5D5D5D;">Non-synonymous</span>
                </div> -->
            </div>

            <div class="variant-title">
                <span style="word-break: break-all;">{{stv.get_variant_list_title}}</span>
                <span
                    style="font-size: smaller;opacity: 0.6;margin-top: 4px;word-break: break-all;">{{stv.consequence}}</span>
            </div>


        </a>

        {%endfor%}

    </div>

    {%endfor%}
</div>

<div class="ui attached segment variant-sub-menu-header unpinned">
    <i class="tasks icon"></i>
    <span class="title">ALL VARIANTS</span>
</div>

<!-- Unpinned variants -->
<div id="unpinned-list" style="position: relative;flex: 1;overflow-y: auto;overflow-x: hidden;">

    <!-- Group list of variants by their transcript/gene -->
    {% regroup variants.unpinned by transcript as variant_list %}

    {% for transcript in variant_list %}

    <div class="gene">
        <div class="title">
            <b>{{transcript.grouper.gene.hgnc_name}}</b>
            <a data-url="{% url 'update_selected_transcript' run=run.id ss_sample=ss_sample.id transcript=transcript.grouper.id %}"
                class="ui horizontal right icon {% if transcript.grouper.canonical %}grey{%else%}orange{% endif %} label js-update-transcript"
                data-html="<span>{% if transcript.grouper.canonical %}Canonical{% else %}Non-canonical{% endif %} transcript selected</span><br><span style='font-size:smaller;'>(Click to update)</span>"
                data-position="right center">
                {{transcript.grouper.refseq_id}}
                <i class="sync icon"></i>
            </a>
        </div>

        {% for stv in transcript.list %}

        <a class="item mini-tabs-link" data-url="{% url 'load_variant_details' run=run.id stv=stv.id %}"
            data-id="{{stv.id}}" data-chr="{{stv.sample_variant.variant.chrom}}"
            data-location="{{stv.sample_variant.variant.pos}}" {% if forloop.last %}
            style="border-bottom:0.5px solid #E8E9E9;" {%endif%}>

            <div class="variant-attribute-container">
                <i class="classification-indicator grey outline circle icon"
                    style="margin: 0;margin-top: 1px;align-self: center;"></i>
            </div>

            <div class="variant-title">
                <span style="word-break: break-all;">{{stv.get_variant_list_title|truncatechars:100 }}</span>
                <span
                    style="font-size: smaller;opacity: 0.6;margin-top: 4px;word-break: break-all;">{{stv.consequence|truncatechars:60}}</span>
            </div>
        </a>

        {%endfor%}

    </div>

    {%endfor%}

    <div id='no-results-notice' class="{% if variant_list %}hidden{% endif %}" style="padding-top: 15px;">
        <span style="margin-left: 10px;">No matching results</span>
    </div>
</div>