{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#005eb8">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">


    <!-- Page Title -->
    <title>VariantViewer - {{ page_title }}</title>

    <!-- Dependencies -->
    <link rel="stylesheet" type="text/css" href="{% static 'dependencies/fomantic/css/fomantic.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'dependencies/datatables/css/datatables.min.css' %}">

    <script src="{% static 'dependencies/jquery/js/jquery.min.js' %}"></script>
    <script src="{% static 'dependencies/datatables/js/datatables.min.js' %}"></script>
    <script src="{% static 'dependencies/fomantic/js/fomantic.min.js' %}"></script>

    <!-- Project Files -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block stylesheet %} {% endblock %}
</head>

<body>

    <!-- Sidebar -->
    <div id="main-sidebar" class="ui sidenav left fixed inverted vertical menu compact icon">

        <div class="sidenav-inner-wrap">

            <div class="sidenav-inner-scroll">

                <!-- Logo and app title -->
                <div class="item site_name"
                    style="display: flex;flex-direction: column;align-items: center;justify-content: center;background-color: #1f1f1f;height: 2.1cm;">

                    <i class="big dna icon" style="margin: 0;color:#005EB8"></i>

                    <div class="text-title" style="margin: 0;margin-top: 5px;">
                        <span style="font-weight: LIGHTER;font-size: large;">VARIANT</span>
                        <span style="font-weight: lighter;font-size: large;;color:#9aa4ac">VIEWER</span>
                    </div>

                </div>

                <!-- Sidebar items -->
                <a href='{% url "home" section=section.slug %}' class="item">
                    <i class="home icon"></i>
                    <span class="text-title">
                        Home
                    </span>
                </a>
                <a href='{% url "search" section=section.slug %}' class='item'>
                    <i class="search icon"></i>
                    <span class="text-title">
                        Sample search
                    </span>
                </a>
                <a href='' class="item">
                    <i class="info circle icon"></i>
                    <span class="text-title">
                        About
                    </span>
                </a>
                <!-- <a href='{% url "jbrowse-testing" %}' class="item">
                    <i class="flask icon"></i>
                    <span class="text-title">
                        Jbrowse Testing
                    </span>
                </a> -->

                <!-- Hidden item to add line -->
                <div class="item"> </div>

            </div>
        </div>

        <!-- Bottom items of sidebar -->
        <div class="force-bottom">

            {% if user.is_authenticated %}
            <!-- Hidden item to add line -->
            <div class="item"> </div>

            <div id="sidebar-accordion" class="ui accordion item inverted">
                <div class="title" style="display: flex;align-items: center;">
                    <i class="dropdown icon"></i>
                    <img style='max-width: 25px;margin: 0;margin-right: 7px;border-radius: 5px;'
                        src="{{user.avatar_url}}" alt="">
                    <span class="text-title">
                        {{user.get_full_name}}
                        <span style="font-size:x-small;color: #9aa4ac;">{{user.email}}</span>
                    </span>
                </div>
                <div class="content">
                    <a href="{% url 'profile' %}?next={{ request.path }}" class="item">
                        <i class="cog icon"></i>
                        <span class="text-title">
                            Account Settings
                        </span>
                    </a>
                    <a href="{% url 'logout' %}" class="item">
                        <i class="sign out alternate icon"></i>
                        <span class="text-title">
                            Logout
                        </span>
                    </a>
                </div>
            </div>

            {% endif %}
            <!-- Sidebar resize button -->
            <a id="resize-sidebar" class="item compact-menu">
                <i class="angle double left icon"></i>
            </a>
        </div>


    </div>

    <!-- Wrapper to ensure all content is pushed by sidebar -->
    <div class="content-wrap">

        {% block content %} {% endblock %}

    </div>

</body>

<script src="{% static 'js/base.js'%}"></script>

{% block javascript %} {% endblock %}

</html>