{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/sample.css' %}">
{% endblock %}

{% block javascript %}
<script src="{% static 'dependencies/jbrowse/jbrowse-linear-genome-view.js' %}"></script>
<script src="{% static 'dependencies/diff_match_patch/diff_match_patch.js' %} "></script>
<script src="{% static 'dependencies/jquery-panzoom/panzoom.min.js' %}"></script>

<script src="{% static 'js/sample.js' %}"></script>

{% endblock %}

{% block content %}

<!-- Page Header -->
<div id="page-header" class="ui inverted vertical masthead segment">
    <img id="page-header-background" src="{% static 'header-background.jpeg' %}">

    <div id='page-header-title'>

        <div id="page-header-title-leftstack">
            <div id="page-header-title-text">
                <span class="large-text">NGS Results</span>
                <span class="divider">|</span>
                <!-- <div class="small-text-column-container">
                    <span class="small-text-top">PATIENT:</span>
                    <span class="small-text-bottom">{{ss_sample.sample.patient.first_name}}
                        {{ss_sample.sample.patient.last_name}}</span>
                </div>
                <span class="divider">|</span> -->
                <div class="small-text-column-container">
                    <span class="small-text-top">LAB NO:</span>
                    <span class="small-text-bottom">{{ss_sample.sample.lab_no }}</span>
                </div>
                <span class="divider">|</span>
                <div class="small-text-column-container">
                    <span class="small-text-top">WORKSHEET (SAMPLE ID):</span>
                    <span class="small-text-bottom">{{run.worksheet}} ({{ ss_sample.sample_identifier }})</span>
                </div>
                <span class="divider">|</span>
                <div class="small-text-column-container">
                    <span class="small-text-top">PIPELINE:</span>
                    <span class="small-text-bottom">{{run.pipeline_version.pipeline}}
                        (v.{{run.pipeline_version.version}}) </span>
                </div>
                <span class="divider">|</span>
                <div class="small-text-column-container">
                    <span class="small-text-top">GENE KEY:</span>
                    <span class="small-text-bottom">{{ss_sample.gene_key}} </span>
                </div>
            </div>

            <div class="ui small breadcrumb">
                <a href="{% url 'home' section=section.slug %}"
                    class="ui compact tiny grey basic inverted button">{{section}}</a>
                <i class="right chevron icon divider"></i>
                <a href="{% url 'search' section=section.slug %}"
                    class="ui compact tiny grey basic inverted button">Search</a>
                <i class="right chevron icon divider"></i>
                <div class="ui compact tiny grey basic inverted disabled button">{{ ss_sample.sample_identifier }}
                    ({{ss_sample.sample.lab_no }})</div>
            </div>
        </div>

        <div id="page-header-title-right-buttons" class="ui three item menu">
            <a class="active item main-tabs-link active" data-tab='variants-tab'>Variants</a>
            <!-- <a class="item main-tabs-link" data-tab="qc">QC Metrics</a> -->
            <a class="item main-tabs-link" data-tab="coverage">Coverage</a>
            <a class="item main-tabs-link" data-tab="report"
                data-url="{% url 'report_update_or_create' run=run.id ss_sample=ss_sample.id report='default' %}">Report</a>
        </div>

    </div>
</div>

<!-- Variants Tab -->
<div class="main-tabs-content active" id="variants-tab">

    <!-- Tab Utility Bar -->
    <div id="tab-utility-bar" class="ui attached segment">

        <span class="title">VARIANT DETAILS</span>

        <div class="item-divider"></div>

        <div class="filters-sub-menu-container" style="display:flex; align-items: center;flex: 1;">
        </div>

        <div class="right-float">

            <div class="item-divider"></div>

            <span class="subtitle">
                GENOME BROWSER:
            </span>

            <div id="browser-expand-collapse" class="ui small icon button" data-tooltip='Expand Browser'
                data-position="bottom right" style="display: none;">
                <i class="expand alternate icon"></i>
            </div>

            <div class="ui small icon button view-in-browser" data-tooltip='Show Browser' data-position="bottom right">
                <i class="dna icon"></i>
            </div>

        </div>



    </div>


    <!-- Main Variant Panel -->
    <div id="variants-main-panel">

        <div class="ui dimmable vertical menu" id="variant-menu"
            data-url="{% url 'load_variant_list' run=run.id ss_sample=ss_sample.id %}?variant_cache="
            data-csrf="{{csrf_token}}" data-variant-cache="">
            <div id="variant-list-content-loader" class="ui inverted dimmer">
                <div class="ui large fast loader"></div>
            </div>
        </div>


        <div class="ui left attached segment" id="variant-content-container">

            <div id="variant-content-loader" class="ui inverted dimmer">
                <div class="ui large fast loader"></div>
            </div>


            <div class="mini-tabs-content">
                <!-- This div is populated with variant details using AJAX -->
            </div>

            <div class="basic_message" style="display: flex;flex-direction: column;flex: 1; min-height: 100%;">

                <button class="ui circular icon button menu-toggle-closed circular"
                    style="margin:15px;margin-top: 15px;margin-left: 16px;align-self: flex-start;display: none;"
                    data-tooltip="Expand Menu" data-position="bottom left">
                    <i class="icon bars"></i>
                </button>


                <div class="ui segment" style="position: absolute;align-self: center;width: 500px;top: 40%;">

                    <p style="font-weight: bold;text-align: center;color: #6e6e6e;margin: 0;margin-bottom: 3px;">
                        Select a variant for details.</p>


                    <!-- Placeholder sample summary values.... -->
                    <!-- <span style="font: italic;text-align: center;color: #aaaaaa;">
                        <strong> Variants: </strong>
                        {{summary.total}} 3/27
                        {{total_summary.total}} |
                        <strong> Missense:</strong>
                        {{summary.missense_count}} 3/10
                        {{total_summary.missense_count}} |
                        <strong> Indels: </strong>
                        {{summary.indel_count}} 0/2
                        {{total_summary.indel_count}} |
                        <strong> LOF:</strong>
                        {{summary.lof_count}} 1/3
                        {{total_summary.lof_count}} |
                        <strong> Synonymous: </strong>
                        {{summary.synonymous}} 7/20
                        {{total_summary.synonymous}}
                    </span> -->


                </div>

            </div>

        </div>

        <!-- Lightbox dimmer populated with images/pdfs or filter settings via js. -->
        <div id="lightbox" class="ui light dimmer">
        </div>

    </div>

    <!-- Genome Browser -->
    <div class="browser-collapsed" style="display: none;" id="browser">
        <div class="ui attached segment" style="padding: 5px;border-bottom: none;">
            <div id="jbrowse_linear_view"
                data-sample='{{run.worksheet}} ({{ss_sample.sample_identifier}}) - {{ss_sample.sample.lab_no }}'
                data-vcf='{%if vcf.file %}{{ vcf.file.url }}{%endif%}'
                data-bam='{%if bam.file %}{{ bam.file.url }}{%endif%}'>
            </div>

        </div>
    </div>

</div>



<!-- QC Tab -->
<div class="main-tabs-content hidden" id="qc">

    <!-- Tab Utility Bar -->
    <div id="tab-utility-bar" class="ui attached segment">

        <span class="title">QUALITY CONTROL</span>

        <div class="item-divider"></div>

    </div>

    <div class="qc-main-panel" style="overflow-y: auto;overflow-x: hidden;">


        <div class="ui attached segment" style="border-top: none;">
            <h1>QC</h1>

            <div style="height: 25cm;"></div>

            <h3>feihbwop[efibhfp</h3>
        </div>
    </div>




</div>


<!-- Coverage Tab -->
<div class="main-tabs-content hidden" id="coverage">

    <!-- Tab Utility Bar -->
    <div id="tab-utility-bar" class="ui attached segment">

        <span class="title">COVERAGE DETAILS</span>

        <div class="item-divider"></div>

        <span class="subtitle">
            SEARCH:
        </span>

        <div class="ui small icon input">
            <input type="search" placeholder="" id="mySearch">
            <i class="search icon"></i>
        </div>

        <div id="columns-toggle" class="ui small icon button" style="margin-left: 15px;"
            data-tooltip="Show Raw Depth Values" data-position="bottom left"><i class="ellipsis horizontal icon"></i>
        </div>

        <div class="right-float">
            <div class="item-divider"></div>
            <span class="subtitle">GENE COVERAGE</span>
        </div>

    </div>


    <div id="coverage-main-panel" style="flex: 2;display: flex;overflow: hidden;flex-direction: column;">


        <div class="ui attached segment"
            style="padding: 0;border-top: none;flex: 1;overflow-y:scroll;background-color: #F8F8F8;">

            <table id='gene-table' class='ui coverage-tables selectable celled table ' style="width: 100%;"
                data-run={{run.id}} data-ss_sample='{{ss_sample.id}}'>

                <colgroup>
                    <col style="width: 220px;">

                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                </colgroup>
                <thead>

                    <tr>
                        <th> Gene </th>

                        <th class="toggle-cols"> 10x </th>
                        <th class="toggle-cols"> 20x </th>
                        <th class="toggle-cols"> 30x </th>
                        <th class="toggle-cols"> 40x </th>
                        <th class="toggle-cols"> 50x </th>
                        <th class="toggle-cols"> 100x </th>


                        <th> Min </th>
                        <th> Max </th>
                        <th> Mean </th>

                        <th> pct > 10x </th>
                        <th> pct > 20x </th>
                        <th> pct > 30x </th>
                        <th> pct > 40x </th>
                        <th> pct > 50x </th>
                        <th> pct > 100x </th>
                    </tr>

                </thead>

            </table>

        </div>

        <div id="tab-utility-bar" class="ui attached segment">

            <div id="min-read-filter-toggle" class="ui small icon button" data-tooltip="Activate Depth Filter"
                data-position="bottom left">
                <i class="sort amount down icon"></i>
            </div>

            <div id="min-read-filter-input" class="ui small right labeled input" style="margin-left: 10px;">
                <label for="max-value" class="ui small basic label" style="font-weight: lighter;">
                    Showing exons with minimum depth below:
                </label>
                <input id="max-value" type="text" value="" style="text-align: right;width: 70px;">
                <div class="ui small basic label" style="font-weight: lighter;">x</div>
            </div>


            <div class="right-float">
                <div class="item-divider"></div>
                <span class="subtitle">EXON COVERAGE</span>
            </div>

        </div>

        <div class="ui attached segment"
            style="padding: 0;border-top: none;flex: 1;overflow-y: scroll;background-color: #F8F8F8;">

            <table id="exon-table" class='ui coverage-tables selectable celled table ' style="width: 100%;"
                data-run={{run.id}} data-ss_sample='{{ss_sample.id}}'>
                <colgroup>
                    <col style="width: 110px;">
                    <col style="width: 110px;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                </colgroup>
                <thead>

                    <tr>
                        <th> Gene </th>
                        <th> Exon </th>

                        <th class="toggle-cols"> 10x </th>
                        <th class="toggle-cols"> 20x </th>
                        <th class="toggle-cols"> 30x </th>
                        <th class="toggle-cols"> 40x </th>
                        <th class="toggle-cols"> 50x </th>
                        <th class="toggle-cols"> 100x </th>


                        <th> Min </th>
                        <th> Max </th>
                        <th> Mean </th>

                        <th> pct > 10x </th>
                        <th> pct > 20x </th>
                        <th> pct > 30x </th>
                        <th> pct > 40x </th>
                        <th> pct > 50x </th>
                        <th> pct > 100x </th>
                    </tr>

                </thead>

            </table>

        </div>

    </div>



</div>



<!-- Report Tab -->
<div class="main-tabs-content hidden" id="report">

    {% include 'includes/report-container.html' %}

</div>


{% endblock %}