{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/sample.css' %}">
{% endblock %}

{% block javascript %}
<script src="{% static 'dependencies/jbrowse/jbrowse-linear-genome-view.js' %}"></script>

<script src="{% static 'js/sample.js' %}"></script>
{% endblock %}

{% block content %}

<!-- Page Header -->
<div id="page-header" class="ui inverted vertical masthead segment">
    <img id="page-header-background" src="{% static 'header-background.jpeg' %}">

    <div id='page-header-title'>

        <div id="page-header-title-leftstack">
            <h1 id="page-header-title-text">NGS Results: Sample No. 273721 </h1>
            <div class="ui large breadcrumb">
                <a class="ui compact tiny grey basic inverted button">Home</a>
                <i class="right chevron icon divider"></i>
                <a class="ui compact tiny grey basic inverted button">Rare disease</a>
                <i class="right chevron icon divider"></i>
                <a href="{% url 'search' %}" class="ui compact tiny grey basic inverted button">Search</a>
                <i class="right chevron icon divider"></i>
                <a class="ui compact tiny grey basic inverted button">Joe Bloggs</a>
                <i class="right chevron icon divider"></i>
                <div class="ui compact tiny grey basic inverted disabled button">Sample 2</div>
            </div>
        </div>

        <div id="page-header-title-right-buttons" class="ui three item menu">
            <a class="active item main-tabs-link active" data-tab='variants-tab'>Variants</a>
            <a class="item main-tabs-link" data-tab="qc">QC Metrics</a>
            <a class="item main-tabs-link" data-tab="coverage">Coverage</a>
        </div>

    </div>
</div>

<!-- Variants Tab -->
<div class="main-tabs-content active" id="variants-tab">

    <!-- Tab Utility Bar -->
    <div id="tab-utility-bar" class="ui attached segment">

        <span class="title">VARIANT DETAILS</span>

        <div class="item-divider"></div>

        <div class="subtitle">FILTERS: (6 active)</div>

        <!-- Scrollable filters display -->
        <a id="left-button" class="ui circular icon label" style="margin-right: 5px;">
            <i class="arrow alternate left icon"></i>
        </a>

        <!-- Make sure content has flex-shrink:0 -->
        <div class="active-filters-container">
            <div class="ui label" style="flex-shrink: 0;">
                Param1
                <div class="detail">val1</div>
            </div>
            <div class="ui label" style="flex-shrink: 0;">
                Param2
                <div class="detail">val2</div>
            </div>
            <div class="ui label" style="flex-shrink: 0;">
                Param3
                <div class="detail">val3</div>
            </div>
            <div class="ui label" style="flex-shrink: 0;">
                Param4
                <div class="detail">val4</div>
            </div>
            <div class="ui label" style="flex-shrink: 0;">
                Param5
                <div class="detail">val5</div>
            </div>
            <div class="ui label" style="flex-shrink: 0;">
                Param6
                <div class="detail">val6</div>
            </div>
        </div>

        <a id="right-button" class="ui circular icon label" style="margin-left:5px">
            <i class="arrow alternate right icon"></i>
        </a>

        <div id="mod_filter" class="ui small icon button" data-tooltip='Modify filters' data-position="bottom right"
            style="margin-left: 15px;">
            <i class="filter icon"></i>
        </div>

        <div class="right-float">

            <div class="item-divider"></div>

            <span class="subtitle">
                GENOME BROWSER:
            </span>

            <div id="browser-expand-collapse" class="ui small icon button" data-tooltip='Expand Browser'
                data-position="bottom right" style="display: none;">
                <i class="expand alternate icon"></i>
            </div>

            <div class="ui small icon button view-in-browser" data-tooltip='Show Browser' data-position="bottom right">
                <i class="dna icon"></i>
            </div>

        </div>



    </div>


    <!-- Main Variant Panel -->
    <div id="variants-main-panel">

        <div class="ui vertical menu mini_tabs" id="variant-menu">

            <div id="variant-menu-topper">
                <button id="menu-toggle-open" class="active circular ui icon button" data-tooltip="Collapse Menu"
                    data-position="bottom left">
                    <i class="icon bars"></i>
                </button>
            </div>


            <!-- when adding for loop, first loop use margin top of 10px and all others use 15px, last item needs bottom border -->

            <div class="gene">
                <div class='title' style="margin-top: 10px;">
                    <b>ABRA</b>
                    <a class="ui horizontal right icon label" style="margin-left: 5px;">
                        NM_012654.3
                        <i class="sync icon"></i>
                    </a>
                </div>

                <a class="item mini-tabs-link" data-url="{% url 'load_variant_details' %}" data-chr="3"
                    data-location="121973128" style="border-bottom:0.5px solid #E8E9E9;">

                    <div class="variant-title">
                        c.20876G>T / p.W6889L
                    </div>

                    <div class="variant-attribute-container">
                        <div class="variant-attribute">
                            <span style="font-weight: bold;">Exonic SNV</span>
                            <span
                                style="font-weight: lighter;font-style: italic;font-size: small;color: #5D5D5D;">Non-synonymous</span>
                        </div>
                    </div>

                </a>
            </div>

            <div class="gene">
                <div class="title" style='margin-top:15px'>
                    <b>BRCA 1</b>
                    <a class="ui horizontal right icon label" style="margin-left: 5px;">
                        NM_012654.3
                        <i class="sync icon"></i>
                    </a>
                </div>

                <a class="item mini-tabs-link" data-tab="second">
                    <div class="variant-title">
                        c.20876G>T / p.W6889L
                    </div>

                    <div class="variant-attribute-container">

                        <div class="variant-attribute">
                            <span style="font-weight: bold;">Intronic</span>
                            <!-- <span
                                style="font-weight: lighter;font-style: italic;font-size: small;color: #5D5D5D;">-</span> -->
                        </div>

                    </div>
                </a>

                <a class="item mini-tabs-link" data-tab='third' style="border-bottom:0.5px solid #E8E9E9;">

                    <div class="variant-title">
                        c.20876G>T / p.W6889L
                    </div>

                    <div class="variant-attribute-container">

                        <div class="variant-attribute">
                            <span style="font-weight: bold;">Exonic SNV</span>
                            <span style="font-weight: lighter;font-style: italic;font-size: small;color: #5D5D5D;">
                                Synonymous
                            </span>
                        </div>

                    </div>

                </a>
            </div>

        </div>


        <div class="ui left attached segment mini-tabs-content-container" id="variant-content-container">

            <div id="variant-content-loader" class="ui inverted dimmer">
                <div class="ui large fast loader"></div>
            </div>

            <div class="mini-tabs-content" style="padding: 15px;"></div>

            <div class="basic_message" style="display: flex;flex-direction: column;flex: 1; min-height: 100%;">

                <button class="ui circular icon button menu-toggle-closed circular"
                    style="margin:15px;margin-top: 15px;margin-left: 16px;align-self: flex-start;display: none;"
                    data-tooltip="Expand Menu" data-position="bottom left">
                    <i class="icon bars"></i>
                </button>


                <div class="ui segment" style="position: absolute;align-self: center;width: 500px;top: 40%;">

                    <p style="font-weight: bold;text-align: center;color: #6e6e6e;margin: 0;margin-bottom: 3px;">
                        Select a variant for details.</p>


                    <!-- Placeholder sample summary values.... -->
                    <span style="font: italic;text-align: center;color: #aaaaaa;">
                        <strong> Variants: </strong>
                        {{summary.total}} 3/27
                        {{total_summary.total}} |
                        <strong> Missense:</strong>
                        {{summary.missense_count}} 3/10
                        {{total_summary.missense_count}} |
                        <strong> Indels: </strong>
                        {{summary.indel_count}} 0/2
                        {{total_summary.indel_count}} |
                        <strong> LOF:</strong>
                        {{summary.lof_count}} 1/3
                        {{total_summary.lof_count}} |
                        <strong> Synonymous: </strong>
                        {{summary.synonymous}} 7/20
                        {{total_summary.synonymous}}
                    </span>


                </div>

            </div>

        </div>

        <!-- Filter settings content (this gets loaded into lightbox dimmer when activated) -->
        <div id='filter-settings' style="display:none">

            <div class="ui segments" style="display: flex;min-width: 60%;max-width: 90%;max-height: 90%;">
                <div class="ui left aligned clearing segment">
                    <h3 class="ui header" style="margin:0">Modify Filters</h3>
                </div>
                <div class="ui left aligned segment" style="flex: 1;overflow: auto;">

                    <div class="ui horizontal segments">
                        <div class="ui segment">
                            <p></p>
                        </div>
                        <div class="ui segment">
                            <form class="ui form">
                                <div class="field">
                                    <label>First Name</label>
                                    <input type="text" name="first-name" placeholder="First Name">
                                </div>
                                <div class="field">
                                    <label>Last Name</label>
                                    <input type="text" name="last-name" placeholder="Last Name">
                                </div>
                                <div class="field">
                                    <div class="ui checkbox">
                                        <input type="checkbox" tabindex="0" class="hidden">
                                        <label>I agree to the Terms and Conditions</label>
                                    </div>
                                </div>
                                <button class="ui button" type="submit">Submit</button>
                            </form>
                        </div>
                        <div class="ui segment">
                            <p></p>
                        </div>
                    </div>

                </div>
                <div class="ui secondary left aligned clearing segment">
                    <div class="ui right floated primary button" style="margin-left: 10px;">Save</div>
                    <div class="ui right floated button filter-settings-close">Cancel</div>

                </div>
            </div>

        </div>


        <!-- Lightbox dimmer populated with images/pdfs or filter settings via js. -->
        <div id="lightbox" class="ui light dimmer">
        </div>

    </div>

    <!-- Genome Browser -->
    <div class="browser-collapsed hidden" id="browser">
        <div class="ui attached segment" style="padding: 5px;border: none;">
            <!-- <div id="igv-div"></div> -->
            <div id="jbrowse_linear_view" data-sample='testing' data-vcf='{{ vcf }}' data-tbi='{{ tbi }}'
                data-bam='{{ bam }}' data-bai='{{ bai }}' data-media-url='{{ MEDIA_URL }}'>
            </div>

        </div>
    </div>

</div>



<!-- QC Tab -->
<div class="main-tabs-content hidden" id="qc">

    <!-- Tab Utility Bar -->
    <div id="tab-utility-bar" class="ui attached segment">

        <span class="title">QUALITY CONTROL</span>

        <div class="item-divider"></div>

    </div>

    <div class="qc-main-panel" style="overflow-y: auto;overflow-x: hidden;">


        <div class="ui attached segment" style="border-top: none;">
            <h1>QC</h1>

            <div style="height: 25cm;"></div>

            <h3>feihbwop[efibhfp</h3>
        </div>
    </div>




</div>


<!-- Coverage Tab -->
<div class="main-tabs-content hidden" id="coverage">

    <!-- Tab Utility Bar -->
    <div id="tab-utility-bar" class="ui attached segment">

        <span class="title">COVERAGE DETAILS</span>

        <div class="item-divider"></div>

        <span class="subtitle">
            SEARCH:
        </span>

        <div class="ui small icon input">
            <input type="text" placeholder="" id="mySearch">
            <i class="search icon"></i>
        </div>

        <div id="columns-toggle" class="ui small icon button" style="margin-left: 15px;"
            data-tooltip="Show Raw Depth Values" data-position="bottom left"><i class="ellipsis horizontal icon"></i>
        </div>

        <div class="right-float">
            <div class="item-divider"></div>
            <span class="subtitle">GENE COVERAGE</span>
        </div>

    </div>


    <div id="coverage-main-panel" style="flex: 2;display: flex;overflow: hidden;flex-direction: column;">


        <div class="ui attached segment"
            style="padding: 0;border-top: none;flex: 1;overflow-y: auto;background-color: #F8F8F8;">

            <table class='ui coverage-tables selectable celled table ' style="width: 100%;">

                <colgroup>
                    <col style="width: 220px;">

                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                </colgroup>
                <thead>

                    <tr>
                        <th> Gene </th>

                        <th class="toggle-cols"> 100x </th>
                        <th class="toggle-cols"> 200x </th>
                        <th class="toggle-cols"> 300x </th>
                        <th class="toggle-cols"> 400x </th>
                        <th class="toggle-cols"> 500x </th>
                        <th class="toggle-cols"> 600x </th>

                        <th> Min </th>
                        <th> Max </th>
                        <th> Mean </th>

                        <th> pct > 100x </th>
                        <th> pct > 200x </th>
                        <th> pct > 300x </th>
                        <th> pct > 400x </th>
                        <th> pct > 500x </th>
                        <th> pct > 600x </th>

                    </tr>

                </thead>

                <tbody>

                    <tr>

                        <td> test </td>

                        <td> 1000 </td>
                        <td> 1200</td>
                        <td> 1100 </td>
                        <td> 900 </td>
                        <td> 980</td>
                        <td> 1200 </td>

                        <td> 150 </td>
                        <td> 490 </td>
                        <td> 312 </td>
                        <td class="positive"> 99 </td>
                        <td class="positive"> 99 </td>
                        <td class="positive"> 99 </td>
                        <td class="warning"> 86 </td>
                        <td class="warning"> 85 </td>
                        <td class="negative"> 70 </td>

                    </tr>

                    <tr>

                        <td> second </td>
                        <td> 1000 </td>
                        <td> 1200</td>
                        <td> 1100 </td>
                        <td> 900 </td>
                        <td> 980</td>
                        <td> 1200 </td>

                        <td> 250 </td>
                        <td> 350 </td>
                        <td> 300 </td>
                        <td class="positive"> 94 </td>
                        <td class="positive"> 93 </td>
                        <td class="positive"> 90 </td>
                        <td class="warning"> 80 </td>
                        <td class="warning"> 72 </td>
                        <td class="negative"> 60 </td>

                    </tr>

                </tbody>

            </table>

        </div>

        <div id="tab-utility-bar" class="ui attached segment">

            <div id="min-read-filter-toggle" class="ui small icon button" data-tooltip="Activate Depth Filter"
                data-position="bottom left">
                <i class="sort amount down icon"></i>
            </div>

            <div id="min-read-filter-input" class="ui small right labeled input" style="margin-left: 10px;">
                <label for="max-value" class="ui small basic label" style="font-weight: lighter;">
                    Showing exons with minimum depth below:
                </label>
                <input id="max-value" type="text" value="" style="text-align: right;width: 70px;">
                <div class="ui small basic label" style="font-weight: lighter;">x</div>
            </div>


            <div class="right-float">
                <!-- <div id='max' class="ui button">test</div> -->

                <!-- <input type="text" id="max" name="max"> -->
                <div class="item-divider"></div>
                <span class="subtitle">EXON COVERAGE</span>
            </div>

        </div>

        <div class="ui attached segment"
            style="padding: 0;border-top: none;flex: 1;overflow-y: auto;background-color: #F8F8F8;">

            <table id="exon-table" class='ui coverage-tables selectable celled table ' style="width: 100%;">
                <colgroup>
                    <col style="width: 110px;">
                    <col style="width: 110px;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                    <col style="width: auto;">
                </colgroup>
                <thead>

                    <tr>
                        <th> Gene </th>
                        <th> Exon </th>

                        <th class="toggle-cols"> 100x </th>
                        <th class="toggle-cols"> 200x </th>
                        <th class="toggle-cols"> 300x </th>
                        <th class="toggle-cols"> 400x </th>
                        <th class="toggle-cols"> 500x </th>
                        <th class="toggle-cols"> 600x </th>

                        <th> Min </th>
                        <th> Max </th>
                        <th> Mean </th>

                        <th> pct > 100x </th>
                        <th> pct > 200x </th>
                        <th> pct > 300x </th>
                        <th> pct > 400x </th>
                        <th> pct > 500x </th>
                        <th> pct > 600x </th>

                    </tr>

                </thead>

                <tbody>

                    <tr>

                        <td> test </td>
                        <td> exon 1</td>

                        <td> 1000 </td>
                        <td> 1200</td>
                        <td> 1100 </td>
                        <td> 900 </td>
                        <td> 980</td>
                        <td> 1200 </td>

                        <td> 150 </td>
                        <td> 490 </td>
                        <td> 312 </td>
                        <td class="positive"> 99 </td>
                        <td class="positive"> 99 </td>
                        <td class="positive"> 99 </td>
                        <td class="warning"> 86 </td>
                        <td class="warning"> 85 </td>
                        <td class="negative"> 70 </td>

                    </tr>

                    <tr>

                        <td> test </td>
                        <td> exon 2</td>

                        <td> 1000 </td>
                        <td> 1200</td>
                        <td> 1100 </td>
                        <td> 900 </td>
                        <td> 980</td>
                        <td> 1200 </td>

                        <td> 150 </td>
                        <td> 490 </td>
                        <td> 312 </td>
                        <td class="positive"> 99 </td>
                        <td class="positive"> 99 </td>
                        <td class="positive"> 99 </td>
                        <td class="warning"> 86 </td>
                        <td class="warning"> 85 </td>
                        <td class="negative"> 70 </td>

                    </tr>

                    <tr>

                        <td> test </td>
                        <td> exon 3</td>

                        <td> 1000 </td>
                        <td> 1200</td>
                        <td> 1100 </td>
                        <td> 900 </td>
                        <td> 980</td>
                        <td> 1200 </td>

                        <td> 150 </td>
                        <td> 490 </td>
                        <td> 312 </td>
                        <td class="positive"> 99 </td>
                        <td class="positive"> 99 </td>
                        <td class="positive"> 99 </td>
                        <td class="warning"> 86 </td>
                        <td class="warning"> 85 </td>
                        <td class="negative"> 70 </td>

                    </tr>

                    <tr>

                        <td> test </td>
                        <td> exon 4</td>

                        <td> 1000 </td>
                        <td> 1200</td>
                        <td> 1100 </td>
                        <td> 900 </td>
                        <td> 980</td>
                        <td> 1200 </td>

                        <td> 150 </td>
                        <td> 490 </td>
                        <td> 312 </td>
                        <td class="positive"> 99 </td>
                        <td class="positive"> 99 </td>
                        <td class="positive"> 99 </td>
                        <td class="warning"> 86 </td>
                        <td class="warning"> 85 </td>
                        <td class="negative"> 70 </td>

                    </tr>

                    <tr>

                        <td> test </td>
                        <td> exon 5</td>

                        <td> 1000 </td>
                        <td> 1200</td>
                        <td> 1100 </td>
                        <td> 900 </td>
                        <td> 980</td>
                        <td> 1200 </td>

                        <td> 50 </td>
                        <td> 490 </td>
                        <td> 312 </td>
                        <td class="positive"> 99 </td>
                        <td class="positive"> 99 </td>
                        <td class="positive"> 99 </td>
                        <td class="warning"> 86 </td>
                        <td class="warning"> 85 </td>
                        <td class="negative"> 70 </td>

                    </tr>


                    <tr>

                        <td> second </td>
                        <td> exon 1</td>

                        <td> 1000 </td>
                        <td> 1200</td>
                        <td> 1100 </td>
                        <td> 900 </td>
                        <td> 980</td>
                        <td> 1200 </td>

                        <td> 250 </td>
                        <td> 350 </td>
                        <td> 300 </td>
                        <td class="positive"> 94 </td>
                        <td class="positive"> 93 </td>
                        <td class="positive"> 90 </td>
                        <td class="warning"> 80 </td>
                        <td class="warning"> 72 </td>
                        <td class="negative"> 60 </td>

                    </tr>

                    <tr>

                        <td> second </td>
                        <td> exon 2</td>

                        <td> 1000 </td>
                        <td> 1200</td>
                        <td> 1100 </td>
                        <td> 900 </td>
                        <td> 980</td>
                        <td> 1200 </td>

                        <td> 250 </td>
                        <td> 350 </td>
                        <td> 300 </td>
                        <td class="positive"> 94 </td>
                        <td class="positive"> 93 </td>
                        <td class="positive"> 90 </td>
                        <td class="warning"> 80 </td>
                        <td class="warning"> 72 </td>
                        <td class="negative"> 60 </td>

                    </tr>

                    <tr>

                        <td> second </td>
                        <td> exon 3</td>

                        <td> 1000 </td>
                        <td> 1200</td>
                        <td> 1100 </td>
                        <td> 900 </td>
                        <td> 980</td>
                        <td> 1200 </td>

                        <td> 250 </td>
                        <td> 350 </td>
                        <td> 300 </td>
                        <td class="positive"> 94 </td>
                        <td class="positive"> 93 </td>
                        <td class="positive"> 90 </td>
                        <td class="warning"> 80 </td>
                        <td class="warning"> 72 </td>
                        <td class="negative"> 60 </td>

                    </tr>

                    <tr>

                        <td> second </td>
                        <td> exon 4</td>

                        <td> 1000 </td>
                        <td> 1200</td>
                        <td> 1100 </td>
                        <td> 900 </td>
                        <td> 980</td>
                        <td> 1200 </td>

                        <td> 250 </td>
                        <td> 350 </td>
                        <td> 300 </td>
                        <td class="positive"> 94 </td>
                        <td class="positive"> 93 </td>
                        <td class="positive"> 90 </td>
                        <td class="warning"> 80 </td>
                        <td class="warning"> 72 </td>
                        <td class="negative"> 60 </td>

                    </tr>

                    <tr>

                        <td> second </td>
                        <td> exon 5</td>

                        <td> 1000 </td>
                        <td> 1200</td>
                        <td> 1100 </td>
                        <td> 900 </td>
                        <td> 980</td>
                        <td> 1200 </td>

                        <td> 250 </td>
                        <td> 350 </td>
                        <td> 300 </td>
                        <td class="positive"> 94 </td>
                        <td class="positive"> 93 </td>
                        <td class="positive"> 90 </td>
                        <td class="warning"> 80 </td>
                        <td class="warning"> 72 </td>
                        <td class="negative"> 60 </td>

                    </tr>

                    <tr>

                        <td> second </td>
                        <td> exon 6</td>

                        <td> 1000 </td>
                        <td> 1200</td>
                        <td> 1100 </td>
                        <td> 900 </td>
                        <td> 980</td>
                        <td> 1200 </td>

                        <td> 250 </td>
                        <td> 350 </td>
                        <td> 300 </td>
                        <td class="positive"> 94 </td>
                        <td class="positive"> 93 </td>
                        <td class="positive"> 90 </td>
                        <td class="warning"> 80 </td>
                        <td class="warning"> 72 </td>
                        <td class="negative"> 60 </td>

                    </tr>

                </tbody>

            </table>

        </div>

    </div>



</div>

{% endblock %}