{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block stylesheet %}
<style>
    table.dataTable.no-footer {
        border-bottom: 0 !important;
        border-top: none;
    }

    .run-details {
        background-color: #eeeeee;
        cursor: default;
    }
</style>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function () {

        function applySearches() {
            table = $('.samples-list-table').DataTable() // find table
            search = $('#mySearch').val() // collect general search text
            pipeline = $('#pipeline-selection').val() // collect pipeline selection
            qc_status = $('#qc_status-selection').val() // collect pipeline selection
            section = 'rare disease'

            // connect all searches together and apply them.
            table.search(search).column(7).search(pipeline).column(9).search(qc_status).draw();

            if (pipeline === '') {
                pipeline_text = ''
            } else {
                pipeline_text = 'from the ' + pipeline + ' pipeline '
            }

            if (qc_status === '') {
                qc_text = ''
            } else if (qc_status === '0') {
                qc_text = 'that are pending a quality evaluation'
            } else if (qc_status === '1') {
                qc_text = 'that have passed quality checks'
            } else {
                qc_text = 'that have failed quality checks'
            }

            if (search === '') {
                applied_filters_text = 'Showing all ' + section + ' samples ' + pipeline_text + qc_text
            } else {
                applied_filters_text = 'Searching all ' + section + ' samples ' + pipeline_text + qc_text + ' using term: "' + search + '"'
            }

            $('.applied-filters').text(applied_filters_text)

        }

        function format(d) {
            console.log(d)
            var before = "<table class='ui compact celled selectable table' style='table-layout: fixed;'><thead><tr><th>Worksheet</th><th>Pipeline</th><th>Completed</th><th>QC Status</th></tr></thead><tbody>";
            var after = "</tbody></table>";
            var runs = '';
            //loop through all the row details to build output string
            var first_iteration = true;
            for (var item in d.runs) {
                var run = d.runs[item];
                var qc_status = run.qc_status_display
                if (first_iteration) {
                    runs = runs + "<tr class='active'><td>" + run.worksheet + "</td><td>" + run.pipeline_name + "</td><td>" + run.completed_at + "</td><td>" + run.qc_status_display + "</td></tr>";
                    first_iteration = false;
                } else if (qc_status === 'Pass') {
                    runs = runs + "<tr class='positive'><td>" + run.worksheet + "</td><td>" + run.pipeline_name + "</td><td>" + run.completed_at + "</td><td>" + run.qc_status_display + "</td></tr>";
                } else if (qc_status === 'Pending') {
                    runs = runs + "<tr class='warning'><td>" + run.worksheet + "</td><td>" + run.pipeline_name + "</td><td>" + run.completed_at + "</td><td>" + run.qc_status_display + "</td></tr>";
                } else if (qc_status === 'Fail') {
                    runs = runs + "<tr class='negative'><td>" + run.worksheet + "</td><td>" + run.pipeline_name + "</td><td>" + run.completed_at + "</td><td>" + run.qc_status_display + "</td></tr>";
                }


            }
            return before + runs + after;
        }


        // Initiate sample table
        var sample_table = $('.samples-list-table').DataTable({
            'serverSide': true,
            'ajax': '/api/' + $('.samples-list-table').attr('data-section') + '/sample_list?format=datatables',
            "deferRender": true,
            'processing': true,
            'columns': [
                {
                    "data": null,
                    "render": function (data, type, row, meta) {
                        data = "<a href='/results/" + row.runs[0].worksheet + "/" + row.sample_identifier + "' class='ui small icon button' style='margin:0px;'><i class='external alternate icon'></i></a>"
                        return data;
                    },
                    "orderable": false,
                    "className": 'center aligned',
                },
                { 'data': 'first_name', 'name': 'sample__patient__first_name' },
                { 'data': 'last_name', 'name': 'sample__patient__last_name' },
                { 'data': 'sample_identifier' },
                { 'data': 'lab_no', 'name': 'sample__lab_no' },
                { 'data': 'gene_key' },
                { 'data': 'runs.0.worksheet', 'name': 'samplesheet__latest_run__worksheet' },
                { 'data': 'runs.0.pipeline_name', 'name': 'samplesheet__latest_run__pipeline_version__pipeline__name' },
                { 'data': 'runs.0.completed_at', 'name': 'samplesheet__latest_run__completed_at' },
                { 'data': 'runs.0.qc_status_display', 'name': 'samplesheet__latest_run__qc_status' },
                {
                    "data": null,
                    "render": function (data, type, row, meta) {
                        run_number = row.runs.length
                        if (run_number == 1) {
                            data = "<div class='ui small compact disabled button' style='margin:0px;'>1</div>"
                        } else {
                            data = "<div class='ui small compact button details-control' style='margin:0px;' data-tooltip='Show all runs' data-position='bottom right'>" + run_number + "</div>"
                        }
                        return data;
                    },
                    "orderable": false,
                    "className": 'center aligned except',
                }


            ],
            createdRow: function (row, data, index) {
                qc_status = data.runs[0].qc_status_display
                if (qc_status === 'Pass') {
                    $(row).addClass('positive');
                } else if (qc_status === 'Pending') {
                    $(row).addClass('warning');
                } else if (qc_status === 'Fail') {
                    $(row).addClass('negative');
                }
            },
            "ordering": true,
            "scrollCollapse": true,
            "paging": true,
            "pageLength": 25,
            "footer": false,
            "dom": '<"top">rt<"bottom">ip<"clear">',
            "language": {
                "emptyTable": "No relevent samples",
                'loadingRecords': '&nbsp;',
                'processing': 'Loading...',
                "zeroRecords": "No samples matching query",
            },
            "order": [[8, 'desc']]

        });

        // Apply inital searches
        applySearches()

        // Link to relevent sample page if click on row. 
        $('#samples-list tbody').on('click', 'tr', function (event) {
            // Make it so nothing happens if click on last column
            if ($(event.target).hasClass("except")) {
                null
            } else {
                //  retreive sample name from col 2 of table
                // var sample = $(this).find("td").eq(1).text();

                var row = sample_table.row(this);
                window.location.href = "/results/" + row.data().runs[0].worksheet + "/" + row.data().sample_identifier;
            }
        });


        // Seach when type into search box
        $('#mySearch').on('keyup click search', function () {
            // Reapply searches using latest values
            applySearches()
        });

        // Update pipeline-selection field when update filter options
        $('.pipeline-choice').on('click', function () {
            $('.pipeline-choice').removeClass('active')
            $(this).addClass('active')

            if ($(this).text() == 'All') {
                $('#pipeline-selection').val('')
            } else {
                $('#pipeline-selection').val($(this).text())
            }

            // Reapply searches using latest values
            applySearches()
        });

        // Update qc_status-selection field when update filter options
        $('.qc_status-choice').on('click', function () {
            $('.qc_status-choice').removeClass('active')
            $(this).addClass('active')

            if ($(this).text() == 'All') {
                $('#qc_status-selection').val('')

            } else {
                $('#qc_status-selection').val($(this).attr("data-value"))
            }

            // Reapply searches using latest values
            applySearches()
        });

        // Move the datables info and pagination buttons to custom footer div
        $("#table-footer").append($(".dataTables_info"));
        $("#table-footer").append($(".dataTables_paginate"));


        // Show/Hide filters menu
        $('#search-filters-toggle').on('click', function () {
            $(this).toggleClass('red')

            if ($(this).hasClass('red')) {
                $(this).attr("data-tooltip", "Hide Filters");
            } else {
                $(this).attr("data-tooltip", "Show Filters");
            }

            $('#search-filters').slideToggle()
        })

        // Show/hide all run info
        $('#samples-list tbody').on('click', '.details-control', function (event) {
            event.stopPropagation();

            var tr = $(this).closest('tr');
            var row = sample_table.row(tr);

            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                $(this).removeClass('red')
                $(this).attr("data-tooltip", "Show all runs");
                // tr.removeClass('shown');
            }
            else {
                // Open this row
                row.child(format(row.data()), 'run-details').show();
                $(this).addClass('red')
                $(this).attr("data-tooltip", "Hide all runs");
                // tr.addClass('shown');
            }
        });


    });

</script>
{% endblock %}


{% block content %}

<!-- Page Header -->
<div id="page-header" class="ui inverted vertical masthead left aligned segment">
    <img id="page-header-background" src="{% static 'header-background.jpeg' %}">

    <div id='page-header-title'>
        <div id="page-header-title-leftstack">
            <div id="page-header-title-text">
                <span class="large-text">Sample Search</span>
                <span class="divider">|</span>
                <div class="small-text-column-container">
                    <span class="small-text-top">SECTION:</span>
                    <span class="small-text-bottom">{{section}}</span>
                </div>
                <a href="{% url 'change_section' %}" class="ui mini button" style="margin-left: 5px;">Change</a>
            </div>
            <div class="ui large breadcrumb">
                <a href="{% url 'home' section=section.slug %}"
                    class="ui compact tiny grey basic inverted button">{{section}}</a>
                <i class="right chevron icon divider"></i>
                <a class="ui compact tiny grey basic inverted disabled button">Search</a>
            </div>
        </div>

        <!-- <div class="ui message info applied-filters" style="margin: 0;margin-left: auto;"></div> -->
    </div>
</div>

<!-- Tab Utility Bar -->
<div id="tab-utility-bar" class="ui attached segment">

    <span class="title">SEARCH</span>

    <div class="item-divider"></div>

    <div class="ui small icon input" style="width:100%;">
        <input type="search" placeholder="Search samples..." id="mySearch">
        <i class="search icon"></i>
    </div>

    <div class="item-divider" style="margin-left: 15px;"></div>

    <div id="search-filters-toggle" class="ui small red icon button" data-tooltip='Hide Filters'
        data-position="bottom right">
        <i class="filter icon"></i>
    </div>
</div>

<div class="ui attached segment" style="border-top: none;background-color: #F8F8F8;">
    <div class="ui info message applied-filters" style="margin: 0;"></div>
    <div id="search-filters" style="margin-top: 15px;display: flex;flex-direction: row;gap: 15px;">
        <div class="ui segment" style="margin: 0;">
            <h4 style="text-align: center;">Pipeline</h4>
            <div class="ui buttons">
                <button class="ui active button pipeline-choice">All</button>

                {% for pipeline in pipelines%}
                <button class="ui button pipeline-choice">{{ pipeline.pipeline.name }}</button>
                {% endfor %}

            </div>
            <input type="hidden" id="pipeline-selection" value="">
        </div>
        <div class="ui segment" style="margin: 0;">
            <h4 style="text-align: center;">QC Status of Latest Run</h4>
            <div class="ui buttons">
                <button class="ui button qc_status-choice">All</button>

                <!-- <button class="ui button qc_status-choice" data-value='0'>Pending</button> -->
                <button class="ui active button qc_status-choice" data-value='1'>Pass</button>
                <button class="ui button qc_status-choice" data-value='2'>Fail</button>

            </div>
            <input type="hidden" id="qc_status-selection" value="1">
        </div>

    </div>
</div>



<div id="samples-list" style="flex: 2;display: flex;overflow: hidden;flex-direction: column;">

    <div class="ui attached segment"
        style="padding: 0;border-top: none;flex: 1;overflow-y: scroll;overflow-x: hidden;background-color: #F8F8F8;">

        <table class='ui samples-list-table selectable celled structured table ' data-section={{section.slug}}
            style="width: 100%;table-layout: fixed;">
            <thead>
                <tr>
                    <th rowspan="2" width='40px'></th>
                    <th rowspan="2"> First name </th>
                    <th rowspan="2"> Last name </th>
                    <th rowspan="2"> Sample ID </th>
                    <th rowspan="2"> Lab no. </th>
                    <th rowspan="2"> Gene Key </th>
                    <th colspan="4"> Latest run </th>
                    <th rowspan="2" width='40px'>All runs</th>
                </tr>
                <tr>
                    <th> Worksheet </th>
                    <th> Pipeline </th>
                    <th> Completed </th>
                    <th> QC Status </th>
                </tr>
            </thead>


        </table>

    </div>



</div>

<div id="table-footer" class="ui attached segment"
    style="border-top:none;display: flex;flex-direction: row;align-items: center;justify-content: space-between;">

</div>

{% endblock %}