{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block stylesheet %}{% endblock %}

{% block javascript %}
<script>
    $('#search-filters-toggle').on('click', function () {
        $(this).toggleClass('red')

        if ($(this).hasClass('red')) {
            $(this).attr("data-tooltip", "Hide Filter");
        } else {
            $(this).attr("data-tooltip", "Show Filters");
        }

        $('#search-filters').slideToggle()
    })
</script>
{% endblock %}


{% block content %}

<!-- Page Header -->
<div id="page-header" class="ui inverted vertical masthead left aligned segment">
    <img id="page-header-background" src="{% static 'header-background.jpeg' %}">

    <div id='page-header-title'>

        <div id="page-header-title-leftstack">
            <h1 id="page-header-title-text">Sample Search</h1>
            <div class="ui large breadcrumb">
                <a class="ui compact tiny grey basic inverted button">Home</a>
                <i class="right chevron icon divider"></i>
                <a class="ui compact tiny grey basic inverted button">Rare disease</a>
                <i class="right chevron icon divider"></i>
                <a class="ui compact tiny grey basic inverted disabled button">Search</a>
            </div>

        </div>

        <!-- <div id="page-header-title-right-buttons" class="ui three item menu">
            <a class="active item main-tabs-link active" data-tab='variants-tab'>Variants</a>
            <a class="item main-tabs-link" data-tab="qc">QC Metrics</a>
            <a class="item main-tabs-link" data-tab="coverage">Coverage</a>
        </div> -->

    </div>
</div>

<!-- Tab Utility Bar -->
<div id="tab-utility-bar" class="ui attached segment">

    <span class="title">SEARCH</span>

    <div class="item-divider"></div>

    <form action="" method="get" class="form-inline" style="width:100%;">

        <div class="ui small icon input" style="width:100%;">
            <input type="text" name="q" placeholder="Enter Keyword" value="{{ request.GET.q }}" class="form-control">
            <i onclick="$(this).closest('form').submit();" class="circular search link icon"></i>
        </div>


    </form>


    <div class="item-divider" style="margin-left: 15px;"></div>

    <div id="search-filters-toggle" class="ui small icon button" data-tooltip='Show Filters'
        data-position="bottom right">
        <i class="filter icon"></i>
    </div>

</div>


<div style="padding: 15px;overflow-y: auto;">


    <div id="search-filters" class="ui message hidden" style="height: 6cm;">

        <h3>Filters</h3>

    </div>

    <div class="ui grid">

        {% if page_obj %}
        {% for sample in page_obj %}

        <div class="sixteen wide column">

            <a class="ui fluid raised card">
                <div class="content">
                    <div class="header" style="display: flex;">Sample ID: {{ sample.sample_id|upper }} <span
                            style="margin-left: auto;">{{ sample.date_created|naturaltime }}</span></div>

                    <div class="meta">
                        <span class="category">Lab Number:{{ sample.lab_no }},</span>
                        <span class="category">{{ sample.samplesheets.all|join:", " }}</span>

                    </div>
                    <div class="description">

                        Pipeline:
                        {% for s in sample.samplesheets.all %}
                        {{ s.run.pipeline_version.pipeline.name }}
                        (v{{ s.run.pipeline_version.version }})
                        {% endfor %}

                        Latest worksheet:
                        {{ sample.samplesheets.last.run.worksheet }}
                        Completed:
                        {{ sample.samplesheets.last.run.completed_at|naturaltime }}


                    </div>
                </div>
                <div class="extra content" style="background-color:#ebebeb">
                    <div class="ui fluid styled accordion">
                        <div class="title">
                            <i class="dropdown icon"></i>
                            Samples
                        </div>
                        <div class="content">
                            <p>Info about proband,mum and dad</p>
                        </div>
                    </div>
                </div>
            </a>

        </div>

        {% endfor %}

        {% else %}

        <div class="sixteen wide column">
            <div class="ui message" style="text-align: center;">No matching samples</div>
        </div>


        {%endif%}

    </div>


    <div class="ui right floated pagination menu" style="margin-top: 20px;">
        <a {% if page_obj.has_previous %} href="?q={{searchq}}&page={{ page_obj.previous_page_number }}" {% endif %}
            class="item {% if not page_obj.has_previous %} disabled{% endif %}">
            Previous
        </a>

        {% if page_obj.number|add:'-4' > 1 %}
        <a href="?q={{searchq}}&page={{ page_obj.number|add:'-5' }}" class="item">...</a>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
        <a href='?q={{searchq}}&page={{ i }}' class="item active">
            {{ i }}
        </a>
        {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %} <a href='?q={{searchq}}&page={{ i }}'
            class="item">
            {{ i }}
            </a>
            {% endif %}
            {% endfor %}


            {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
            <a href="?q={{searchq}}&page={{ page_obj.number|add:'5' }}" class="item">...</a>
            {% endif %}

            <a {% if page_obj.has_next %} href="?q={{searchq}}&page={{ page_obj.next_page_number }}" {% endif %}
                class="item {% if not page_obj.has_next %} disabled{% endif %}">
                Next
            </a>
    </div>

</div>

{% endblock %}