{% load static %}

<!-- Load dependencies -->
<script src="{% static 'dependencies/jquery-file-upload/js/vendor/jquery.ui.widget.js' %}"></script>
<script src="{% static 'dependencies/jquery-file-upload/js/jquery.iframe-transport.js' %}"></script>
<script src="{% static 'dependencies/jquery-file-upload/js/jquery.fileupload.js' %}"></script>

<!-- Load static files -->
<script src="{% static 'js/variant-details.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/variant-details.css' %}">

<!-- Variant-details header -->
<div class="variant-details-header">

    <div class="top-row-container">

        <button class="circular ui icon button menu-toggle-closed" data-tooltip="Expand Menu"
            data-position="bottom left">
            <i class="icon bars"></i>
        </button>

        <div id="variant-title" class="ui segment {% if stv.pinned %}ischecked{%endif%} title-container">

            <div class="col-container">

                <h2 class="ui header">
                    <i id="pinned-icon"
                        class="tiny inverted circular pin icon {% if not stv.pinned %}hidden{%endif%}"></i>
                    {%if stv.get_long_hgvs.hgvs_c == 'nan'%}

                    <span {% if stv.sample_variant.variant|make_list|length >= 40 %}
                        data-tooltip="{{stv.sample_variant.variant}}" {%endif%}
                        data-position="bottom left">{{stv.sample_variant.variant|truncatechars:40}}
                    </span>

                    {%else%}

                    <span {% if stv.get_long_hgvs.hgvs_c|make_list|length >= 40 %}
                        data-tooltip="{{stv.get_long_hgvs.hgvs_c}}" {%endif%}
                        data-position="bottom left">{{stv.get_long_hgvs.hgvs_c|truncatechars:40}}
                    </span>

                    {%endif%}
                </h2>


                <div class="info-labels-container">

                    {% if stv.get_long_hgvs.hgvs_c == 'nan' %}
                    <div class="info-label">
                        <span class="title">TRANSCRIPT HGVS:</span>
                        <span class="value" {% if stv.get_long_hgvs.hgvs_c|make_list|length >= 30 %}
                            data-tooltip="{{stv.get_long_hgvs.hgvs_c}}" {%endif%}
                            data-position="bottom left">{{stv.get_long_hgvs.hgvs_c|truncatechars:30}}</span>
                    </div>
                    {%else%}
                    <div class="info-label">
                        <span class="title">GENOMIC DESCRIPTION:</span>
                        <span class="value" {% if stv.sample_variant.variant|make_list|length >= 30 %}
                            data-tooltip="{{stv.sample_variant.variant}}" {%endif%}
                            data-position="bottom left">{{stv.sample_variant.variant|truncatechars:30}}</span>
                    </div>
                    {%endif%}

                    <div class="info-label">
                        <span class="title">PROTEIN HGVS:</span>
                        <span class="value" {% if stv.get_long_hgvs.hgvs_p|make_list|length >= 30 %}
                            data-tooltip="{{stv.get_long_hgvs.hgvs_p}}" {%endif%}
                            data-position="bottom left">{{stv.get_long_hgvs.hgvs_p|truncatechars:30}}</span>
                    </div>

                    <div class="info-label">
                        <span class="title">GENE SYMBOL:</span>
                        <span class="value">{{stv.transcript.gene.hgnc_name}}</span>
                    </div>
                </div>

            </div>

            <div id="pin-variant-checkbox" class="ui toggle checkbox"
                data-url="{% url 'pin_variant' run=run.id stv=stv.id %}" data-stv="{{stv.id}}"
                data-csrf="{{ csrf_token }}" data-tooltip="Pin variant" data-position="bottom left">
                <input type="checkbox" {% if stv.pinned %}checked="checked" {%endif%}>
                <label></label>
            </div>
        </div>

        <div id='variant-classification-container'>
            {% include 'includes/classification.html' %}
        </div>

    </div>

    <div class="ui secondary pointing menu details-tabs">
        <a class="item active" data-tab="details">
            Variant Details
        </a>
        <a class="item " data-tab="databases">
            Databases
        </a>
        <a class="item" data-tab="evidence">
            Evidence
        </a>
        <a class="right item" data-tab="previous-classifications">
            Previous classifications
        </a>
    </div>

</div>



<!-- Details Tab -->
<div class="ui tab" data-tab="details">

    <div class="ui top attached segment">
        <h4>Summary</h4>
    </div>

    <div class="ui bottom attached segment"
        style="background-color: #eeeeee;padding: 0px !important;flex: 1;display: flex;flex-direction: column;">

        <div class="variant-details-summary-item-row">
            <div class="variant-details-summary-item-container">
                <div class="title">
                    CHROMOSOME:
                </div>
                <div class="value">
                    {{stv.sample_variant.variant.chrom}}
                </div>
            </div>
            <div class="variant-details-summary-item-container">
                <div class="title">
                    POSITION:
                </div>
                <div class="value">
                    {{stv.sample_variant.variant.pos}}
                </div>
            </div>
            <div class="variant-details-summary-item-container">
                <div class="title">
                    REFERENCE:
                </div>
                <div class="value">
                    {{stv.sample_variant.variant.ref}}
                </div>
            </div>
            <div class="variant-details-summary-item-container last">
                <div class="title">
                    ALTERNATE:
                </div>
                <div class="value">
                    {{stv.sample_variant.variant.alt}}
                </div>
            </div>
        </div>

        <div class="variant-details-summary-item-row">
            <div class="variant-details-summary-item-container bottom">
                <div class="title">
                    CONSEQUENCE:
                </div>
                <div class="value">
                    {{stv.consequence}}
                </div>
            </div>
            <div class="variant-details-summary-item-container bottom">
                <div class="title">
                    IMPACT:
                </div>
                <div class="value">
                    {{stv.impact}}
                </div>
            </div>
            <div class="variant-details-summary-item-container bottom">
                <div class="title">
                    QUALITY:
                </div>
                <div class="value">
                    {{variant_report.qual}}
                </div>
            </div>
            <div class="variant-details-summary-item-container bottom">
                <div sclass="title">
                    DEPTH:
                </div>
                <div class="value">
                    {{variant_report.depth}}
                </div>
            </div>
            <div class=" variant-details-summary-item-container bottom last">
                <div sclass="title">
                    WMRGL-AF:
                </div>
                <div class="value">
                    0.003
                </div>
            </div>
        </div>
    </div>


    <div style="display: flex;gap: 15px;flex-wrap: wrap;">

        <div style="flex: 1;">
            <div class="ui top attached segment">
                <h4>Info</h4>
            </div>


            <table class="ui bottom attached compact celled table" style="background-color: #eeeeee;">
                <thead>
                    <tr>
                        <th style="background-color: white !important;border-radius: 0;">Tag</th>
                        <th style="background-color: white !important;">Description</th>
                        <th style="background-color: white !important;border-radius: 0;">Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% if variant_report.variantreportinfo_set.all %}
                    {% for info in variant_report.variantreportinfo_set.all %}
                    <tr>
                        <td>{{info.tag}}</td>
                        <td>{{info.description}}</td>
                        <td>{{info.value}}</td>
                    </tr>
                    {%endfor%}
                    {%else%}
                    <tr>
                        <td colspan="3" style="text-align: center;">No Info Tags Found</td>
                    </tr>
                    {%endif%}
                </tbody>
            </table>
        </div>

        <div style="flex: 1;">
            <div class="ui top attached segment" style="display: flex;justify-content: space-between;">
                <h4 style="margin: 0;">Filter Flags</h4>

                {%if variant_report.filter_pass%}
                <div class="ui green small label"
                    style="display: flex;margin: -5px;margin-right: 0;align-items: center;">
                    <i class="checkmark icon"></i>
                    Filters Passed
                </div>
                {%else%}
                <div class="ui red small label" style="display: flex;margin: -5px;margin-right: 0;align-items: center;">
                    <i class="times icon"></i>
                    Filters Failed
                </div>
                {%endif%}
            </div>

            <table class="ui bottom attached compact celled table" style="background-color: #eeeeee;">
                <thead>
                    <tr>
                        <th style="background-color: white !important;border-radius: 0;">Tag</th>
                        <th style="background-color: white !important;">Description</th>
                        <th style="background-color: white !important;border-radius: 0;">Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% if variant_report.variantreportfilter_set.all %}
                    {% for filter in variant_report.variantreportfilter_set.all %}
                    <tr>
                        <td>{{filter.tag}}</td>
                        <td>{{filter.description}}</td>
                        <td>{{filter.value}}</td>
                    </tr>
                    {%endfor%}
                    {%else%}
                    <tr>
                        <td colspan="3" style="text-align: center;">No Filter Flags Raised</td>
                    </tr>
                    {%endif%}
                </tbody>
            </table>
        </div>


    </div>




</div>


<!-- Databases tab -->
<div class="ui tab" data-tab="databases">

    <div class="ui top attached segment">
        <h4>Protein Diagram</h4>
    </div>

    <div class="ui bottom attached segment"
        style="background-color: #eeeeee;display: flex;align-items: center;justify-content: center;padding-top: 0">


    </div>

</div>


<!-- Evidence tab -->
<div class="ui tab" data-tab="evidence">

    <div class="ui top attached segment action-header js-update-create-comment"
        data-url="{% url 'comment_update_or_create' stv=stv.id %}" style="display: flex;align-items: center;">
        <h4 style="margin: 0;">Variant Information</h4>

        <div class="ui right icon link label"
            style="margin-top: -3px;margin-bottom: -3px;margin-left: auto;user-select: none;">
            Click here to {% if stv.comments.last %}update{%else%}add{%endif%} variant
            information
            <i class="pen icon"></i>
        </div>
    </div>

    <!-- Shown when comment is being edited to remove button. -->
    <div class="ui top attached segment  js-update-create-comment-active-header">
        <h4>Variant Information</h4>
    </div>

    <div class="ui bottom attached segment" style="background-color: #eeeeee;">
        <div id="comment-form" class="ui segment " style="margin:0px;">
            <!-- populated using ajax -->
        </div>

        <div id="readonly-comment-form">
            {% include 'includes/comment-display.html' %}
        </div>
    </div>

    <div id="target" class="ui top attached segment action-header js-upload-photos" style="display: flex;">
        <h4 style="margin: 0;">Evidence </h4>
        <div class="ui right icon label"
            style="margin-top: -3px;margin-bottom: -3px;margin-left: auto;user-select: none;">
            Paste, Drop or Click here to upload evidence
            <i class="upload icon"></i>
        </div>
    </div>

    <div id="contextMenu" class="ui small vertical menu"
        style="position: absolute;display: none;z-index: 100;width: auto;">
        <div class="paste item">
            <i class="paste icon"></i>
            Use Ctrl-V to paste image
        </div>
    </div>

    <!-- Shown when files are being uploaded to remove button. -->
    <div id="target-uploading" class="ui top attached segment">
        <h4>Evidence </h4>
    </div>

    <div class="ui bottom attached segment" style="background-color: #eeeeee;">

        <div id="upload-form" class="ui segment" style="margin:0px;margin-bottom: 15px;">
            <div style="display: flex;align-items: stretch; margin-bottom: 15px;height: 224px;">
                <form id="fileupload" class="ui form" action="{% url 'save_evidence' stv=stv.id %}" method="POST"
                    enctype="multipart/form-data" csrf_token="{{ csrf_token }}"
                    style="flex: 1;display: flex;flex-direction: column;">
                    <input id="file-dialog" type="file" name="document" style="display: none;">

                    <div class="field">
                        <label>File Name</label>
                        <input id="id_filename" type="text" placeholder="File Name">
                    </div>

                    <div class="field">
                        <label>Description</label>
                        <textarea id="id_description" rows="6" maxlength="1000" type="text" name="description"
                            style="resize: none;"></textarea>
                    </div>

                </form>

                <div id="pending-container" class="ui segment"
                    style="margin: 0;display: flex;align-items: center;justify-content: center;text-align: center;background-color: #e9e9e9;flex: 0 0 30%;margin-left: 15px;flex-direction: column;">
                </div>

            </div>

            <button type="button" class="ui small primary button js-submit-photos">
                Submit
            </button>

            <button type="button" class="ui small button js-cancel-submit">
                Cancel
            </button>

        </div>

        <div id="evidence-container" style="display: flex;flex-direction: column;gap: 10px;">
            {% include 'includes/evidence.html' %}
        </div>

    </div>

</div>

<div class="ui tab" data-tab="previous-classifications">

    <div class="ui top attached segment" style="border-bottom:none">
        <h4>Previous classifications of this variant</h4>
    </div>

    <table class="ui selectable bottom attached compact celled table previous-classification-table" data-stv={{stv.id}}
        style="background-color: #eeeeee;width: calc(100% + 2px);table-layout:auto;">
        <thead>
            <tr>
                <!-- <th style="background-color: white !important;border-radius: 0;">First name</th>
                <th style="background-color: white !important;">Last name</th> -->
                <th style="background-color: white !important;border-radius: 0;">Lab no.</th>
                <th style="background-color: white !important;border-radius: 0;">Worksheet(s)
                </th>
                <th style="background-color: white !important;border-radius: 0;">Sample ID(s)
                </th>
                <th style="background-color: white !important;border-radius: 0;">Pipeline(s)
                </th>
                <th style="background-color: white !important;border-radius: 0;">Date classified
                </th>
                <th style="background-color: white !important;border-radius: 0;">Comment</th>
                <th style="background-color: white !important;border-radius: 0;"># Evidence
                    files
                </th>


                <th style="background-color: white !important;border-radius: 0;">Classification
                </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>