{% extends 'accounts-base.html' %}
{% load static %}
{% block page_title %}Login{% endblock %}
{% block content %}
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <div class="ui top attached raised inverted segment logo-segment">
            <i class="huge dna icon" style="margin: 0;color:#005EB8"></i>

            <div class="text-title" style="margin: 0;margin-top: 5px;">
                <span style="font-weight: bold;font-size:x-large;">VARIANT</span>
                <span style="font-weight: lighter;font-size: x-large;color:#9aa4ac">VIEWER</span>
            </div>

        </div>

        <div class="ui raised inverted attached segment form-segment"
            style="max-height: 45vh;overflow-y: auto;overflow-x: hidden;">

            {% if messages %}
            {% for message in messages %}
            <div class="ui {{message.tags}} message">
                {{message}}
            </div>
            {% endfor %}
            {% endif %}

            <form class="ui large form" , method="post" , action="{% url 'change_password' %}?next={{request.GET.next}}"
                novalidate>
                {% csrf_token %}

                {% if form.errors %}
                <div class="ui negative message" style="margin-top: 0;">
                    <div class="content">
                        {% for error in form.non_field_errors %}
                        <ul class="list">
                            <li>{{error|escape}}</li>
                        </ul>
                        {% endfor %}
                        {% for field in form %}
                        {% if field.errors %}
                        <ul class="list">
                            {% for error in field.errors %}
                            <li>{{field.label}}: {{error|escape}}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% endif %}

                <div class="field {% if form.errors %} error{% endif %}">
                    <div class="ui left icon input floating-label">
                        <i class="key icon"></i>
                        <input type="password" name="{{ form.old_password.html_name }}" placeholder="Old Password">
                        <label>Old Password</label>
                    </div>
                </div>

                <div class="field {% if form.errors %} error{% endif %}">
                    <div class="ui left icon input floating-label">
                        <i class="key icon"></i>
                        <input type="password" name="{{ form.new_password1.html_name }}" placeholder="New Password">
                        <label>New Password</label>
                    </div>
                </div>

                <div class="field {% if form.errors %} error{% endif %}">
                    <div class="ui left icon input floating-label">
                        <i class="key icon"></i>
                        <input type="password" name="{{ form.new_password2.html_name }}"
                            placeholder="New Password Confirmation">
                        <label>New Password Confirmation</label>
                    </div>
                </div>

                <!-- <div class="field {% if form.errors %} error{% endif %}">
                    <div class="ui left icon input floating-label">
                        <i class="lock icon"></i>
                        <input type="password" name="{{ form.password.html_name }}" placeholder="Password">
                        <label>Password</label>
                    </div>
                </div> -->

                <!-- {{ form }} -->

                <input class="ui fluid large submit button" type="submit" value="Save Changes" />
                <input type="hidden" name="next" value="{{ next }}" />

            </form>
        </div>

        <div class="ui bottom attached raised inverted segment footer-segment"
            style="display: flex;align-items: center;">

            <a href="{% url 'profile' %}?next={{request.GET.next}}" class="ui inverted tiny basic button">
                <i class="arrow circle left icon"></i>
                Back
            </a>

            <p style="margin-top: -2px;margin-left: auto;font-size: smaller;">User since
                {{user.date_joined|date:'d M Y'}}
            </p>

        </div>

    </div>
</div>

{% endblock %}