{% extends 'accounts-base.html' %}
{% block page_title %}Register{% endblock %}
{% load static %}
{% block content %}

<div class="ui middle aligned center aligned grid">
    <div class="column" style="max-width: 600px;">
        <div class="ui top attached raised inverted segment logo-segment">
            <i class="huge dna icon" style="margin: 0;color:#005EB8"></i>

            <div class="text-title" style="margin: 0;margin-top: 5px;">
                <span style="font-weight: bold;font-size:x-large;">VARIANT</span>
                <span style="font-weight: lighter;font-size: x-large;color:#9aa4ac">VIEWER</span>
            </div>

        </div>

        <div class="ui raised inverted attached segment form-segment"
            style="max-height: 45vh;overflow-y: auto;overflow-x: hidden;">



            {% if next %}
            {% if user.is_authenticated %}
            <p class="ui error message">Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>


            <p class="ui error message">Please login to see this page.</p>
            {% endif %}
            {% endif %}

            <form class="ui large form" method="post" action="{% url 'register' %}" novalidate>
                {% csrf_token %}

                {% if form.errors %}
                <div class="ui negative message">
                    <div class="content">
                        {% for field in form %}
                        <ul class="list">
                            {% for error in field.errors %}
                            <li>{{field.label}}: {{error|escape}}</li>
                            {% endfor %}
                        </ul>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}

                <h4 class="ui dividing inverted left aligned header" style="margin-top: 0;">Personal Information</h4>

                <div class="required field">
                    <div class="fields">
                        <div class="seven wide field">
                            <div class="ui left icon input floating-label">
                                <i class="user icon"></i>
                                <input type="text" name="{{form.first_name.html_name}}" placeholder="First Name"
                                    {%if form.errors %}value="{{form.first_name.value}}" {% endif %}></input>
                                <label>First Name</label>
                            </div>
                        </div>
                        <div class="nine wide field">
                            <div class="ui left icon input floating-label">
                                <i class="user icon"></i>
                                <input type="text" name="{{form.last_name.html_name}}" placeholder="Last Name"
                                    {%if form.errors %}value="{{form.last_name.value}}" {% endif %}></input>
                                <label>Last Name</label>
                            </div>
                        </div>
                    </div>
                </div>

                <h4 class="ui dividing inverted left aligned header">Account Information</h4>

                <div class="required field">
                    <div class="ui left icon input floating-label">
                        <i class="mail icon"></i>
                        <input type="text" name="{{form.email.html_name}}" placeholder="NHS email address"
                            {%if form.errors %}value="{{form.email.value}}" {% endif %}></input>
                        <label>NHS email address</label>
                    </div>
                </div>
                <div class="required field">
                    <div class="ui left icon input floating-label">
                        <i class="lock icon"></i>
                        <input type="password" name="{{form.password1.html_name}}"
                            placeholder="{{form.password1.label}}"></input>
                        <label>{{form.password1.label}}</label>
                    </div>
                </div>
                <div class="required field">
                    <div class="ui left icon input floating-label">
                        <i class="lock icon"></i>
                        <input type="password" name="{{form.password2.html_name}}"
                            placeholder="{{form.password1.label}}"></input>
                        <label>{{form.password2.help_text}}</label>
                    </div>
                </div>

                <input style="margin-top: 15px;" class="ui fluid large submit button" type="submit" value="Submit" />
                <input type="hidden" name="next" value="{{ next }}" />

            </form>
        </div>

        <div class="ui bottom attached raised inverted segment footer-segment">

            <div style="margin-left: auto;" class="ui inverted tiny basic buttons">

                <a href="{% url 'login' %}" class="ui button">Sign in instead</a>
            </div>

        </div>


    </div>
</div>
{% endblock %}