{% extends 'accounts-base.html' %}
{% load static %}
{% block page_title %}User profile{% endblock %}
{% block javascript %}
<script>
    $('.ui.dropdown')
        .dropdown()
        ;
</script>
{% endblock %}
{% block content %}
<div class="ui middle aligned center aligned grid">
    <div class="column" style="max-width: 600px;">
        <div class=" ui top attached raised inverted segment logo-segment">
            <i class="huge dna icon" style="margin: 0;color:#005EB8"></i>

            <div class="text-title" style="margin: 0;margin-top: 5px;">
                <span style="font-weight: bold;font-size:x-large;">VARIANT</span>
                <span style="font-weight: lighter;font-size: x-large;color:#9aa4ac">VIEWER</span>
            </div>
        </div>

        <div class="ui raised inverted attached segment form-segment">

            {% if messages %}
            {% for message in messages %}
            <div class="ui {{message.tags}} message">
                {{message}}
            </div>
            {% endfor %}
            {% endif %}

            <form class="ui large form" , method="post" , action="{% url 'profile' %}?next={{request.GET.next}}"
                novalidate>
                {% csrf_token %}

                {% if form.errors %}
                <div class="ui negative message" style="margin-top: 0;">
                    <div class="content">
                        {% for error in form.non_field_errors %}
                        <ul class="list">
                            <li>{{error|escape}}</li>
                        </ul>
                        {% endfor %}
                        {% for field in form %}
                        {% if field.errors %}
                        <ul class="list">
                            {% for error in field.errors %}
                            <li>{{field.label}}: {{error|escape}}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% endif %}

                <h4 class="ui dividing inverted left aligned header" style="margin-top: 0;">Personal Information</h4>

                <div class="field {% if form.first_name.errors %} error{% endif %}">
                    <div class="ui left icon input floating-label">
                        <i class="user icon"></i>
                        <input type="text" name="{{ form.first_name.html_name }}" placeholder="First name"
                            value="{{ form.first_name.value }}">
                        <label>First name</label>
                    </div>
                </div>

                <div class="field {% if form.last_name.errors %} error{% endif %}">
                    <div class="ui left icon input floating-label">
                        <i class="user icon"></i>
                        <input type="text" name="{{ form.last_name.html_name }}" placeholder="Last name"
                            value="{{ form.last_name.value }}">
                        <label>Last name</label>
                    </div>
                </div>


                <h4 class="ui dividing inverted left aligned header">Default Section</h4>
                <div class="field {% if form.default_section.errors %} error{% endif %}">
                    <div class="ui fluid selection dropdown">
                        <input type="hidden" name="default_section" id="id_default_section"
                            value="{{form.default_section.value|default:""}}">
                        <i class="dropdown icon"></i>
                        <div class="default text">Select default_section</div>
                        <div class="menu">
                            {% for value, key in form.fields.default_section.choices %}
                            <div class="item" data-value="{{ value }}">
                                <div
                                    class="ui {% cycle 'blue' 'red' 'orange' 'yellow' 'olive' 'green' %} empty circular label">
                                </div>
                                {{ key }}
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
                <input class="ui fluid large submit button" type="submit" value="Save Changes" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>

        <div class="ui bottom attached raised inverted segment footer-segment"
            style="display: flex;align-items: center;">


            <a href="{{ request.GET.next }}" class="ui inverted tiny basic button">
                <i class="arrow circle left icon"></i>
                Back
            </a>

            <p style="margin-top: -2px;margin-left: auto;font-size: smaller;">User since
                {{account.date_joined|date:'d M Y'}}
            </p>


        </div>

    </div>
</div>

{% endblock %}