body {
    background-color: #F8F8F8;
    overflow: hidden;
}

body > .grid {
    height: 100%;
  }
  
.column {
    max-width: 480px;
}
 
.logo-segment {
	background-color: #1f1f1f !important;
}

.form-segment {
	background-color: #2c2c2c !important;
}

.footer-segment {
	background-color: #005EB8 !important;
	display: flex;
}

/*************************
      Floating label
**************************/

.ui.input.floating-label {
	position: relative;
	margin-bottom: 0rem;
}

.ui.input.floating-label>input,
.ui.input.floating-label>label {
	height: 3.125rem;
	padding: 0.75rem;
}

.ui.input.floating-label>label {
	text-align: left;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
  	margin-bottom: 0;
  	margin-top: 0;
	/* Override default `<label>` margin */
	/* line-height: 1; */
	pointer-events: none;
	cursor: text;
	/* Match the input under the label */
	border: 1px solid transparent;
	border-radius: 0.25rem;
	transition: all 0.1s ease-in-out;
}

input:not(:focus)+ label{
  color: #C7C7C7;
}

input:focus + label{
  color: #858585;
}

.ui.input.left.icon.floating-label>label {
	left: 32px;
}

.ui.input.floating-label input::-webkit-input-placeholder {
	color: transparent;
}

.ui.input.floating-label input:-ms-input-placeholder {
	color: transparent;
}

.ui.input.floating-label input::-ms-input-placeholder {
	color: transparent;
}

.ui.input.floating-label input::-moz-placeholder {
	color: transparent;
}

.ui.input.floating-label input::placeholder {
	color: transparent;
}

.field.floating-label input:focus::-webkit-input-placeholder {
  color: transparent;
}

.field.floating-label input:focus:-moz-placeholder {
  color: transparent;
}

.field.floating-label input:focus::-moz-placeholder {
  color: transparent;
}

.field.floating-label input:focus:-ms-input-placeholder {
  color: transparent;
}

.ui.input.floating-label input:not(:placeholder-shown) {
	padding-top: 1.25rem;
	padding-bottom: 0.25rem;
}

.ui.input.floating-label input:not(:placeholder-shown)~label,
.ui.input.floating-label input:-webkit-autofill~label {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	font-size: 12px;
	color: #858585;
}

.ui.input.floating-label::-webkit-input-placeholder {
	color: #858585;
	opacity: 1;
}

.ui.input.floating-label::-moz-placeholder {
	color: #858585;
	opacity: 1;
}

.ui.input.floating-label:-ms-input-placeholder {
	color: #858585;
	opacity: 1;
}

.ui.input.floating-label::-ms-input-placeholder {
	color: #858585;
	opacity: 1;
}

.ui.input.floating-label::placeholder {
	color: #858585;
	opacity: 1;
}


/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
	.ui.input.floating-label>label {
		display: none;
	}
	.ui.input.floating-label input::-ms-input-placeholder {
		color: #777;
	}
}


/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
	.ui.input.floating-label>label {
		display: none;
	}
	.ui.input.floating-label input:-ms-input-placeholder {
		color: #777;
	}
}

  