/* ============
   VARIANTS TAB 
   ============ */

.active-filters-container {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    max-width: 38%;
    height: 47px;
    align-items: center;
}
   
.active-filters-container::-webkit-scrollbar {
    display: none;
}



#variants-main-panel {
    flex: 2;
    display: flex;
    overflow: hidden;
    margin: 0px;
    min-height: 320px;
}

#browser-expand-collapse {
    margin-right: 10px;
}

#variant-menu {
    flex: 0 0 300px;
    min-height: 100%;
    border-radius: 0%;
    border-top: none;
    /* overflow-y: auto;
    overflow-x: hidden; */
    display: flex;
    flex-direction: column;
}

#variant-menu-topper {
    display: flex;
    /* margin: 0px; */
    border:none;
    padding: 0px;
    margin: 15px
    }

.variant-sub-menu-header {
    padding-top: 9px !important;
    padding-bottom: 9px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    font-size: 12px !important;
    font-weight: 700 !important;
    line-height: 12px !important;
    border-left: none !important;
    color: rgba(0,0,0,.6) !important;
    background-color: #e8e8e8 !important;
}    

.variant-sub-menu-header i {
    margin-right: 9px;
    width: 9px;
}    

.gene .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px; 
    margin-top: 15px;
    margin-bottom: 6px;
}

.gene .item.mini-tabs-link {
    min-height: 55px;
    display: flex !important;
    align-items: stretch;
    padding: 0 !important;
}    

.gene .item.mini-tabs-link.hidden {
    display: none !important;
}  

.gene .item.mini-tabs-link .variant-title{
    display: flex;
    border:0.25px solid #D5D5D6;
    border-top: none;
    border-left: none;
    border-bottom: none;
    flex:1;
    padding: 3px;
    align-items: center;
    justify-content: center;
    padding: 5px;
    text-align: center;
}

.gene .item.mini-tabs-link .variant-attribute-container{
    display: flex;
    border: none;
    flex: 0 0 120px;
    padding: 3px;
    align-items: stretch;
    padding: 6px;
}

.gene .item.mini-tabs-link .variant-attribute{
    display: flex;
    flex-direction: column;
    border: 0.25px solid #D5D5D6;
    border-radius: 5px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    background-color: #E8E9E9;
    flex-grow: 1;
}

.gene .item.mini-tabs-link.active .variant-attribute{
    background-color: #c3d7e6;
}


.transcript-choice.inverted{
    background: #2c2c2c !important
}

#variant-content-container {
    /* display: flex; */
    background-color: #F8F8F8;
    padding: 0px;
    /* flex: 1; */
    min-height: 100%;
    border-top: none;
    overflow-y: auto;
    overflow-x: hidden;
}
    
.browser-collapsed {
    margin: 0px;
    max-height: 400px;
    min-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}
    
.browser-expanded {
    margin: 0px;
    display: flex;
    flex: 2;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
}

/* ===============
   VARIANT DETAILS
   =============== */

.variant-details-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-flow: row wrap;
    row-gap: 5px;
    background-color: #d7d9f3;
    margin: -7px;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.circular.ui.icon.button.menu-toggle-closed {
    margin: 0;
    margin-top: -3px;
    margin-left: -2px;
    margin-right: 15px;
    align-self: flex-start;
}

.ui.right.corner.label.tabCloser {
    margin-right: 8px;
    margin-top: 8px;
    border-radius: 20px !important
}

.variant-details-header .title.container {
    display: flex;
    flex-direction: column;
    border-right: 2px solid #9d9eb1;
    margin-right: 20px;
}

.ui.secondary.menu.details-tabs {
    margin-top: 5px;
    margin-bottom: 0px;
    margin-right: 15px;
}

.variant-details-header .dropdown.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    border-radius: 10px;
    align-self: stretch;
    justify-content: center;
    padding: 10px;
    margin-right: 15px;
}

.variant-details-header .dropdown.container .dropdown.title{
    margin-bottom: 10px;
    text-align: center;
}

#variant-title.ischecked {
    background-color: rgb(255, 167, 108) !important;
}

#mod_filter{
    cursor: default;
}

#mod_filter.selectable{
    cursor: pointer;
}

/* ==========
   OTHER TABS 
   ========== */

/* #qc {
    flex: 2;
    display: flex;
    overflow: hidden;
    margin: 15px;
} */

table.dataTable.no-footer {
    border-bottom: 0 !important;
    border-top: none;
}

.row-selected {
    background: #E0E0E0 !important;
    color: black !important;
}

.row-selected ::hover {
    background: #E0E0E0 !important;
    color: black !important;
}